@charset "UTF-8";
/* line 34, ../../../../../../../../../../home/o1.ftp/.rvm/gems/ruby-2.1.2/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php'); }

/* line 36, ../../../../../../../../../../home/o1.ftp/.rvm/gems/ruby-2.1.2/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php'); }

/* line 4, ../../../../../../../../../../home/o1.ftp/.rvm/gems/ruby-2.1.2/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto; }

/* INKOTA Colors */
/* #ffb900 */
/* No files to import found in abstractions/**\/* */
/* line 2, ../sass/base/_design.scss */
body {
  margin: 0; }

/* line 5, ../sass/base/_design.scss */
.l-main {
  background: url(../images/bottomback.jpg) bottom left no-repeat;
  margin-bottom: 0 !important;
  padding-bottom: 3em; }

/* line 1, ../sass/base/_forms.scss */
input.form-text {
  border: 1px solid #ebe9e7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

/* line 1, ../sass/base/_layout.scss */
body {
  font-size: 100.01%;
  color: #292929;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0; }

/* line 11, ../sass/base/_layout.scss */
h1 {
  font-size: 1em;
  color: #292929; }

/* line 15, ../sass/base/_layout.scss */
table {
  width: 99%; }

/* line 18, ../sass/base/_layout.scss */
table tbody {
  border: none;
  border-bottom: 1px solid #d5d5d5; }

/* line 23, ../sass/base/_layout.scss */
table tr.even,
table tr.odd {
  background: white;
  border: none; }

/* line 27, ../sass/base/_layout.scss */
a {
  color: #292929;
  text-decoration: underline; }

/* line 31, ../sass/base/_layout.scss */
a:hover {
  color: #6fd2ed;
  text-decoration: none; }

/* line 35, ../sass/base/_layout.scss */
table td {
  padding: 5px;
  vertical-align: middle; }

/* line 39, ../sass/base/_layout.scss */
input.form-text {
  height: 30px;
  border: 1px solid #c1cfdb;
  padding: 0 10px;
  font-size: 14px;
  margin: 0; }

/* line 46, ../sass/base/_layout.scss */
.form-submit {
  height: 29px;
  line-height: 29px;
  display: inline-block;
  background: #fbb900;
  color: #292929;
  text-decoration: none;
  text-align: center;
  padding: 0 20px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

/* line 60, ../sass/base/_layout.scss */
.form-submit:hover {
  background: #aa0000;
  color: white; }

/*******************************************************************************
 * inkfront.layout.scss
 *
 * Styles for the Inkota Frontsite layout.
 ******************************************************************************/
/* INKOTA Colors */
/* #ffb900 */
/* line 76, ../sass/base/_layout.scss */
.l-constrained, .l-region--highlighted, .l-region--footer {
  width: 95%;
  margin: 0 auto;
  position: relative;
  *zoom: 1; }
  /* line 38, ../../../../../../../../../../home/o1.ftp/.rvm/gems/ruby-2.1.2/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-constrained:after, .l-region--highlighted:after, .l-region--footer:after {
    content: "";
    display: table;
    clear: both; }

/* Header */
/* line 83, ../sass/base/_layout.scss */
#logo {
  padding-top: 20px; }

/* Content Area */
/* line 87, ../sass/base/_layout.scss */
.l-highlighted-wrapper {
  padding: 18px 0; }

/* line 93, ../sass/base/_layout.scss */
.l-region--help {
  margin-bottom: 18px; }

/* line 96, ../sass/base/_layout.scss */
.l-main {
  margin-top: 36px;
  margin-bottom: 36px; }

/* Content */
/* line 101, ../sass/base/_layout.scss */
.l-content {
  background: white;
  padding: 0 1em 1em;
  overflow: hidden; }

/* Sidebars */
/* line 109, ../sass/base/_layout.scss */
.l-region--sidebar-first,
.l-region--sidebar-second {
  /*padding: $vert-spacing-unit $horz-spacing-unit;*/ }

/* Footer */
/* line 118, ../sass/base/_layout.scss */
aside {
  overflow: hidden;
  margin-bottom: 1em; }
  /* line 121, ../sass/base/_layout.scss */
  aside .block--facetapi {
    float: left;
    width: 32%;
    margin-right: 1.333%; }

/* line 129, ../sass/base/_layout.scss */
body {
  /*font-size: 1.2em;*/ }

/* line 132, ../sass/base/_layout.scss */
.l-constrained, .l-region--highlighted, .l-region--footer {
  width: 98%; }

/* Header */
  /*#logo {
    float: left;
    height: 66px;
    margin: 0;
    padding: 20px 0 0 0;
    width: 306px;
}*/
/* line 143, ../sass/base/_layout.scss */
#logo {
  width: 23.94366%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }

/* line 146, ../sass/base/_layout.scss */
.l-region--navigation {
  width: 74.64789%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
  /* line 148, ../sass/base/_layout.scss */
  .l-region--navigation .block--views-shopping-cart-block {
    width: 32.39437%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-top: 1.2em; }
  /* line 152, ../sass/base/_layout.scss */
  .l-region--navigation .block--menu-menu-benutzer-menu {
    width: 66.19718%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    margin-top: 1.2em; }

/* Sidebars */
/* line 160, ../sass/base/_layout.scss */
.has-two-sidebars .l-content,
.has-one-sidebar .l-content {
  width: 83.09859%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
/* line 164, ../sass/base/_layout.scss */
.has-two-sidebars .l-region--sidebar-first,
.has-two-sidebars .l-region--sidebar-second,
.has-one-sidebar .l-region--sidebar-first,
.has-one-sidebar .l-region--sidebar-second {
  width: 15.49296%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  /*clear: right;*/
  clear: both; }
/* line 169, ../sass/base/_layout.scss */
.has-two-sidebars aside,
.has-one-sidebar aside {
  float: left; }
  /* line 171, ../sass/base/_layout.scss */
  .has-two-sidebars aside .block--facetapi,
  .has-one-sidebar aside .block--facetapi {
    float: none;
    width: 100%;
    margin-right: 0; }

/* Sidebars */
/* line 184, ../sass/base/_layout.scss */
.has-one-sidebar .l-content {
  width: 83.09859%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
/* line 187, ../sass/base/_layout.scss */
.has-one-sidebar .l-region--sidebar-first {
  width: 15.49296%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  clear: none; }

/* line 193, ../sass/base/_layout.scss */
.has-two-sidebars .l-content {
  width: 66.19718%;
  float: left;
  margin-right: -100%;
  margin-left: 16.90141%;
  clear: none; }
/* line 197, ../sass/base/_layout.scss */
.has-two-sidebars .l-region--sidebar-first,
.has-two-sidebars .l-region--sidebar-second {
  width: 15.49296%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  clear: none; }
/* line 201, ../sass/base/_layout.scss */
.has-two-sidebars .l-region--sidebar-second {
  width: 15.49296%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 206, ../sass/base/_layout.scss */
.l-region--footer .block--menu-menu-pflichtmenu {
  width: 83.09859%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }
/* line 209, ../sass/base/_layout.scss */
.l-region--footer .block--follow-site {
  width: 15.49296%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 217, ../sass/base/_layout.scss */
.l-constrained, .l-region--highlighted, .l-region--footer {
  width: 80%; }

/* Sticky Footer */
/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/base/_tables.scss */
.porto {
  width: 480px;
  margin-bottom: 1em; }
  /* line 4, ../sass/base/_tables.scss */
  .porto tr:nth-child(odd) {
    background: #fedb7f; }
  /* line 7, ../sass/base/_tables.scss */
  .porto tr:nth-child(even) {
    background: #fbb900; }

/* line 1, ../sass/base/_typography.scss */
body {
  /*font: 0.875em/1.5 Ubuntu, Arial, sans-serif;*/
  color: #292929; }

/* line 6, ../sass/base/_typography.scss */
h1 {
  font-size: 1.2em;
  font-weight: 600; }

/* line 10, ../sass/base/_typography.scss */
h2 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: .5em;
  line-height: 1.2;
  font-weight: 600; }

/* line 18, ../sass/base/_typography.scss */
.label-inline {
  display: inline;
  font-weight: 600; }

/* line 23, ../sass/base/_typography.scss */
a:hover {
  color: #fbb900; }

/* line 27, ../sass/base/_typography.scss */
strong, b {
  font-weight: 600; }

/* line 30, ../sass/base/_typography.scss */
em, i {
  font-variant: italic; }

/* line 34, ../sass/base/_typography.scss */
.l-content {
  /*@include hyphens(auto);
  -ms-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-chars: 6 3 2;
  -wekit-hyphenate-limit-chars: 6 3 2;
  -moz-hyphenate-limit-chars: 6 3 2;
  hyphenate-limit-chars: 6 3 2;
  -ms-hyphenate-limit-zone: 40px;
  -webkit-hyphenate-limit-zone: 40px;
  -moz-hyphenate-limit-zone: 40px;
  hyphenate-limit-zone: 40px;*/ }
  /* line 48, ../sass/base/_typography.scss */
  .l-content p {
    line-height: 1.4375; }

/* Südlink Aktuelles Heft + Neueste Produkte */
/* line 3, ../sass/components/_blocks.scss */
.view-display-id-block_1 li.views-fluid-grid-item,
.view-display-id-block_2 li.views-fluid-grid-item {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 84%;
  margin-right: 0 !important; }

/* Social Media Block Service Links */
/* line 12, ../sass/components/_blocks.scss */
.service-links ul {
  padding-left: 0; }
/* line 15, ../sass/components/_blocks.scss */
.service-links li {
  list-style: none;
  float: left;
  margin-right: .4em; }

/* Social Media Block Follow Links */
/* line 23, ../sass/components/_blocks.scss */
.follow-link-wrapper {
  display: inline-block; }
  /* line 25, ../sass/components/_blocks.scss */
  .follow-link-wrapper a.follow-link {
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 32px;
    width: 32px;
    line-height: 28px;
    padding-left: 28px;
    padding-right: 3px;
    margin-right: 1em;
    margin-top: .5em;
    text-indent: -999em;
    float: left; }
  /* line 39, ../sass/components/_blocks.scss */
  .follow-link-wrapper a.follow-link-this-site {
    background-image: url("../images/rss_32.png"); }
  /* line 42, ../sass/components/_blocks.scss */
  .follow-link-wrapper a.follow-link-facebook {
    background-image: url("../images/facebook_32.png"); }
  /* line 45, ../sass/components/_blocks.scss */
  .follow-link-wrapper a.follow-link-twitter {
    background-image: url("../images/twitter_32.png"); }
  /* line 48, ../sass/components/_blocks.scss */
  .follow-link-wrapper a.follow-link-youtube {
    background-image: url("../images/youtube_32.png"); }

/* Automatische Ähnliche Produkte */
/* line 57, ../sass/components/_blocks.scss */
.view-display-id-aehnliche_produkte li.views-fluid-grid-item,
.view-display-id-aehnliche_produkte_auto li.views-fluid-grid-item {
  width: 85%;
  /*-moz-box-sizing: border-box !important;
  border-sizing: border-box !important;*/
  background: white; }
  /* line 62, ../sass/components/_blocks.scss */
  .view-display-id-aehnliche_produkte li.views-fluid-grid-item a,
  .view-display-id-aehnliche_produkte_auto li.views-fluid-grid-item a {
    display: block; }
/* line 66, ../sass/components/_blocks.scss */
.view-display-id-aehnliche_produkte .blocklink,
.view-display-id-aehnliche_produkte_auto .blocklink {
  padding: 1em;
  border: 1px solid #f0f0f0;
  display: block;
  text-decoration: none;
  color: #292929;
  margin-bottom: 1em; }
/* line 74, ../sass/components/_blocks.scss */
.view-display-id-aehnliche_produkte .blocklink:hover,
.view-display-id-aehnliche_produkte_auto .blocklink:hover {
  text-decoration: underline; }

/* Warenkorb */
/* line 2, ../sass/components/_cart.scss */
.block--commerce-cart {
  /*background: $light-grey;*/
  margin-bottom: 1em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  /* line 6, ../sass/components/_cart.scss */
  .block--commerce-cart table tr.even, .block--commerce-cart table tr.odd {
    /*background: $light-grey;*/ }
  /* line 9, ../sass/components/_cart.scss */
  .block--commerce-cart table tr.odd {
    /*background: #ddd;*/ }

/* line 13, ../sass/components/_cart.scss */
.cart-contents {
  padding: .6em; }

/* line 16, ../sass/components/_cart.scss */
.line-item-summary {
  margin-top: 0.4em;
  margin-bottom: .6em;
  width: 99%; }
  /* line 20, ../sass/components/_cart.scss */
  .line-item-summary .links {
    margin-bottom: 0.4em;
    margin-top: 0.8em; }

/* line 26, ../sass/components/_cart.scss */
.cart-empty-block {
  padding: 0 0 1em 0.5em; }

/* Ajax Cart Block */
/* line 32, ../sass/components/_cart.scss */
.block--views-shopping-cart-block {
  margin-top: 1em !important; }
  /* line 35, ../sass/components/_cart.scss */
  .block--views-shopping-cart-block .view-empty p {
    display: none; }
  /* line 39, ../sass/components/_cart.scss */
  .block--views-shopping-cart-block .line-item-summary {
    width: 200px;
    min-height: 2em;
    border: 1px solid #d5d5d5;
    padding: .4em .5em 0;
    margin: 0;
    float: right;
    position: relative;
    background: url(../images/cart_32.png) top left no-repeat #f0f0f0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px; }
    /* line 49, ../sass/components/_cart.scss */
    .block--views-shopping-cart-block .line-item-summary .line-item-quantity {
      padding-left: 2em; }
    /* line 52, ../sass/components/_cart.scss */
    .block--views-shopping-cart-block .line-item-summary .line-item-total-label {
      display: none; }
    /* line 55, ../sass/components/_cart.scss */
    .block--views-shopping-cart-block .line-item-summary .links {
      margin-top: .4em; }
      /* line 57, ../sass/components/_cart.scss */
      .block--views-shopping-cart-block .line-item-summary .links li.last {
        margin-right: 0;
        float: right; }
    /* line 62, ../sass/components/_cart.scss */
    .block--views-shopping-cart-block .line-item-summary a {
      text-decoration: none; }
    /* line 65, ../sass/components/_cart.scss */
    .block--views-shopping-cart-block .line-item-summary a:hover {
      color: #292929;
      text-decoration: underline; }
  /* line 70, ../sass/components/_cart.scss */
  .block--views-shopping-cart-block #commerce-ajax-cart-preview {
    z-index: 1000;
    border: 1px solid #d5d5d5;
    background: #f0f0f0 !important;
    top: 4em !important;
    right: 0;
    -webkit-box-shadow: 0px 0px 3px #f0f0f0;
    -moz-box-shadow: 0px 0px 3px #f0f0f0;
    box-shadow: 0px 0px 3px #f0f0f0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px; }
    /* line 78, ../sass/components/_cart.scss */
    .block--views-shopping-cart-block #commerce-ajax-cart-preview .line-item-summary {
      background: none;
      width: 100%;
      border: none;
      float: left; }
      /* line 83, ../sass/components/_cart.scss */
      .block--views-shopping-cart-block #commerce-ajax-cart-preview .line-item-summary .line-item-quantity {
        padding-left: 0; }
      /* line 86, ../sass/components/_cart.scss */
      .block--views-shopping-cart-block #commerce-ajax-cart-preview .line-item-summary li {
        list-style: none; }
    /* line 90, ../sass/components/_cart.scss */
    .block--views-shopping-cart-block #commerce-ajax-cart-preview table {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
      border: 1px solid #d5d5d5 !important; }
    /* line 94, ../sass/components/_cart.scss */
    .block--views-shopping-cart-block #commerce-ajax-cart-preview table tr.even, .block--views-shopping-cart-block #commerce-ajax-cart-preview table tr.odd {
      /*background: $light-grey;*/ }
    /* line 97, ../sass/components/_cart.scss */
    .block--views-shopping-cart-block #commerce-ajax-cart-preview table tr.odd {
      /*background: #ddd;*/ }
    /* line 100, ../sass/components/_cart.scss */
    .block--views-shopping-cart-block #commerce-ajax-cart-preview td {
      padding: 1em .5em; }
    /* line 103, ../sass/components/_cart.scss */
    .block--views-shopping-cart-block #commerce-ajax-cart-preview td.views-field-quantity {
      min-width: 2.5em; }
    /* line 106, ../sass/components/_cart.scss */
    .block--views-shopping-cart-block #commerce-ajax-cart-preview td.views-field-commerce-total {
      min-width: 4em; }

/* Add to cart confirmation */
/* line 113, ../sass/components/_cart.scss */
.messages--commerce-add-to-cart-confirmation {
  background-color: white;
  border-color: #6bb0cb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 2px 15px #57595a;
  -webkit-box-shadow: 0 2px 15px #57595a;
  box-shadow: 0 2px 15px #57595a;
  color: #aeaaa5;
  left: 50%;
  margin-left: -20% !important;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 450px;
  z-index: 201; }

/* line 132, ../sass/components/_cart.scss */
.messages--commerce-add-to-cart-confirmation .message-inner .commerce-add-to-cart-confirmation-close {
  background: url("../images/btn_add-to-cart-close.png") no-repeat 0 0;
  display: block;
  height: 17px;
  position: absolute;
  right: 15px;
  /* LTR */
  top: 15px;
  width: 18px;
  z-index: 205; }

/* line 143, ../sass/components/_cart.scss */
.messages--commerce-add-to-cart-confirmation .message-inner .added-product-title {
  color: #2698f2;
  float: left;
  /* LTR */
  font-size: 14px;
  font-weight: 600;
  padding: 10px 30px 10px 20px;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }

/* line 154, ../sass/components/_cart.scss */
.messages--commerce-add-to-cart-confirmation .message-inner .button-wrapper:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

/* line 162, ../sass/components/_cart.scss */
.messages--commerce-add-to-cart-confirmation .message-inner .button-wrapper .button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  width: 46%;
  float: left; }

/* line 176, ../sass/components/_cart.scss */
div.messages--commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.checkout {
  background-color: #2698f2; }

/* line 179, ../sass/components/_cart.scss */
div.messages--commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.continue {
  background-color: #b3b3b3; }

/* line 182, ../sass/components/_cart.scss */
div.messages--commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.continue .commerce-add-to-cart-confirmation-close {
  background: none;
  height: auto;
  position: static;
  width: auto; }

/* line 189, ../sass/components/_cart.scss */
div.messages--commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.checkout:hover,
div.messages--commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.continue:hover {
  cursor: pointer; }

/* line 192, ../sass/components/_cart.scss */
div.messages--commerce-add-to-cart-confirmation .message-inner .button-wrapper .button a {
  color: #292929;
  display: block;
  font-weight: 600;
  word-wrap: break-word; }

/* Product display */
/* line 199, ../sass/components/_cart.scss */
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display {
  clear: both;
  z-index: -1; }

/* line 203, ../sass/components/_cart.scss */
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content {
  padding: 15px;
  position: relative;
  width: 100%; }

/* line 208, ../sass/components/_cart.scss */
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .content .field-name-field-images {
  position: relative;
  width: 130px; }

/* line 212, ../sass/components/_cart.scss */
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .content .field-name-field-images img {
  border: #d7d7d7 solid 1px; }

/* line 217, ../sass/components/_cart.scss */
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .commerce-product-sku .commerce-product-sku-label,
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .field .views-label,
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .field .field-label {
  color: #878380;
  float: left;
  /* LTR */
  font-size: 12px;
  font-weight: 600;
  padding-right: 5px;
  /* LTR */ }

/* line 225, ../sass/components/_cart.scss */
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .field {
  clear: both;
  margin: 0;
  text-align: left;
  /* LTR */ }

/* line 230, ../sass/components/_cart.scss */
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .field .field-label {
  display: inline;
  float: left;
  /* LTR */ }

/* line 234, ../sass/components/_cart.scss */
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .views-field-commerce-total {
  clear: both;
  font-size: 20px;
  margin-top: 25px; }

/* line 239, ../sass/components/_cart.scss */
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .views-field-commerce-total .views-label {
  float: left;
  /* LTR */
  padding-right: 5px;
  /* LTR */ }

/* line 243, ../sass/components/_cart.scss */
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .views-field-commerce-total .field-content {
  color: #2698f2;
  display: inline;
  float: right;
  /* LTR */ }

/* line 1, ../sass/components/_checkout.scss */
table {
  width: 100%; }

/* line 4, ../sass/components/_checkout.scss */
table tr.even {
  background: none repeat scroll 0 0 #f9f9f9; }

/* line 7, ../sass/components/_checkout.scss */
.checkout-help {
  margin: 2em 0; }

/* line 10, ../sass/components/_checkout.scss */
.button-operator {
  margin: 0 1em; }

/* line 14, ../sass/components/_checkout.scss */
.page-checkout .checkout-continue,
#edit-checkout {
  background: #fbb900;
  color: #292929;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

/* line 20, ../sass/components/_checkout.scss */
.page-checkout .checkout-continue:hover,
#edit-checkout:hover {
  background: #aa0000;
  color: white; }

/* line 25, ../sass/components/_checkout.scss */
.checkout-buttons .checkout-cancel,
.checkout-buttons .checkout-back {
  color: #292929;
  font-weight: 600; }

/* line 30, ../sass/components/_checkout.scss */
.checkout-buttons .checkout-cancel:hover,
.checkout-buttons .checkout-back:hover {
  /*color: tint($orange, 5%);*/ }

/* Warenkorb Seite */
/* line 35, ../sass/components/_checkout.scss */
.views-field-edit-quantity input {
  width: 35px;
  padding: 0 5px; }

/* line 40, ../sass/components/_checkout.scss */
.page-cart .commerce-line-item-actions input {
  margin: 1em 0 1em 1em; }

/* line 44, ../sass/components/_checkout.scss */
.views-field.views-field-field-product-image {
  display: none; }

/* Checkout Progress Bar */
/* line 53, ../sass/components/_checkout.scss */
.page-checkout h1,
.page-cart h1 {
  display: none; }

/* line 59, ../sass/components/_checkout.scss */
.page-checkout-checkout li.cart:after,
.page-checkout- li.cart:after,
.page-checkout-shipping li.checkout:after,
.page-checkout-review li.shipping:after {
  content: ''; }

/* line 63, ../sass/components/_checkout.scss */
.page-checkout-shipping li.cart:after,
.page-checkout-review li.cart:after {
  content: '\f054' !important; }

/* line 66, ../sass/components/_checkout.scss */
ol.commerce-checkout-progress {
  border: 1px solid #6a7076;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  list-style: none;
  padding-left: 0;
  margin-top: 0; }
  /* line 73, ../sass/components/_checkout.scss */
  ol.commerce-checkout-progress li {
    padding: 0.5em 1em 0.5em 0;
    width: 33% !important;
    position: relative;
    text-align: center; }
    /* line 81, ../sass/components/_checkout.scss */
    ol.commerce-checkout-progress li a {
      display: block; }
  /* line 85, ../sass/components/_checkout.scss */
  ol.commerce-checkout-progress li:after {
    content: '\f054';
    font-family: "FontAwesome";
    position: absolute;
    top: 0.7em;
    right: 1em;
    margin-right: -1em; }
  /* line 93, ../sass/components/_checkout.scss */
  ol.commerce-checkout-progress li.complete:after {
    content: '' !important; }
  /* line 97, ../sass/components/_checkout.scss */
  ol.commerce-checkout-progress li.active {
    background: #ebe9e7; }
  /* line 100, ../sass/components/_checkout.scss */
  ol.commerce-checkout-progress li.active:after {
    content: '';
    background: #fff;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 20px solid #ebe9e7;
    position: absolute;
    top: 0;
    right: 0; }
  /* line 113, ../sass/components/_checkout.scss */
  ol.commerce-checkout-progress li.active.complete:after {
    border-left: 0; }
  /* line 116, ../sass/components/_checkout.scss */
  ol.commerce-checkout-progress li.payment {
    display: none; }

/* Kassenseite */
/* line 122, ../sass/components/_checkout.scss */
.page-checkout fieldset {
  background: white;
  border: 1px solid #6a7076;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  margin: 1em 0 0 0; }
  /* line 127, ../sass/components/_checkout.scss */
  .page-checkout fieldset legend {
    background: none repeat scroll 0 0 #fbb900;
    border: 0 none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    color: #292929;
    font-weight: bold;
    margin: 0;
    padding: .3em .5em; }
/* line 137, ../sass/components/_checkout.scss */
.page-checkout .form-item-account-login-mail input {
  max-width: 280px; }
/* line 140, ../sass/components/_checkout.scss */
.page-checkout .checkout-buttons {
  margin: 2em 0;
  padding: 0;
  border: 0;
  width: 100px; }
  /* line 145, ../sass/components/_checkout.scss */
  .page-checkout .checkout-buttons .fieldset-wrapper {
    text-align: right; }
    /* line 147, ../sass/components/_checkout.scss */
    .page-checkout .checkout-buttons .fieldset-wrapper .form-submit {
      margin-right: 0em; }
/* line 153, ../sass/components/_checkout.scss */
.page-checkout #edit-commerce-payment-payment-method .form-item-commerce-payment-payment-method {
  margin-bottom: .5em; }
  /* line 155, ../sass/components/_checkout.scss */
  .page-checkout #edit-commerce-payment-payment-method .form-item-commerce-payment-payment-method a {
    display: block;
    float: right;
    margin-top: 0.5em;
    max-width: 250px; }

/* Checkout Review Pane */
/* line 210, ../sass/components/_checkout.scss */
.pane.account,
.pane.customer_profile_shipping,
.pane.customer_profile_billing {
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  float: left;
  margin: 1em 1em 1em 0;
  padding: 1em;
  width: 200px; }

/* line 219, ../sass/components/_checkout.scss */
.commerce-checkout-review-pane h2.pane-title {
  margin-top: 1em; }
/* line 222, ../sass/components/_checkout.scss */
.commerce-checkout-review-pane .view-commerce-cart-summary {
  border: 1px solid #fbb900; }

/* line 226, ../sass/components/_checkout.scss */
.view-commerce-cart-summary {
  background: white; }
  /* line 228, ../sass/components/_checkout.scss */
  .view-commerce-cart-summary .cols-5 {
    width: 100%; }
    /* line 230, ../sass/components/_checkout.scss */
    .view-commerce-cart-summary .cols-5 th {
      background: #ebe9e7; }
      /* line 232, ../sass/components/_checkout.scss */
      .view-commerce-cart-summary .cols-5 th .views-field-commerce-total {
        padding-right: 2em; }
    /* line 236, ../sass/components/_checkout.scss */
    .view-commerce-cart-summary .cols-5 tr {
      border-bottom: 1px solid #d5d5d5; }
    /* line 239, ../sass/components/_checkout.scss */
    .view-commerce-cart-summary .cols-5 tr.views-row-last {
      border-bottom: 1px solid #6a7076; }
    /* line 242, ../sass/components/_checkout.scss */
    .view-commerce-cart-summary .cols-5 .views-field-commerce-total {
      padding-right: 2em; }

/* line 248, ../sass/components/_checkout.scss */
.commerce-order-handler-area-order-total
.commerce-price-formatted-components {
  width: 70%; }
  /* line 256, ../sass/components/_checkout.scss */
  .commerce-order-handler-area-order-total
  .commerce-price-formatted-components .component-type-commerce-price-formatted-amount {
    background: #ffffbb;
    border-top: 1px solid #6a7076;
    border-bottom: 0; }
  /* line 261, ../sass/components/_checkout.scss */
  .commerce-order-handler-area-order-total
  .commerce-price-formatted-components .component-total {
    padding-right: 2em; }

/* Checkout complete page */
/* line 273, ../sass/components/_checkout.scss */
.commerce-checkout-form-complete {
  padding: 1em;
  background: white;
  border: 1px solid #6a7076; }

/* line 1, ../sass/components/_footer.scss */
.l-footer-wrapper {
  background: #fbb900;
  border-bottom: 1em solid #000; }

/* line 1, ../sass/components/_header.scss */
.pane-commercebox-wishlist, .block--commercebox-base-theme-cb-cart {
  float: right;
  position: relative; }

/* line 5, ../sass/components/_header.scss */
.pane-commercebox-wishlist .pane-content, .block--commercebox-base-theme-cb-cart .block__content {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: -1px 3px 5px rgba(103, 180, 230, 0.5);
  display: none;
  left: 20px;
  padding: 20px;
  position: absolute;
  right: auto;
  width: 380px;
  z-index: 1000; }

/* line 16, ../sass/components/_header.scss */
.block--commercebox-base-theme-cb-cart .block__content {
  left: auto;
  right: 0; }

/* line 20, ../sass/components/_header.scss */
.pane-commercebox-wishlist h2, .block--commercebox-base-theme-cb-cart h2, .block-commerce-product-comparison h2 {
  background: url("/sites/all/themes/cb/images/subheader-icons.png") no-repeat scroll 10px 12px rgba(0, 0, 0, 0);
  color: #000000;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 40px;
  margin: 0 0 0 20px;
  padding: 0 10px 0 32px;
  text-decoration: underline; }

/* line 33, ../sass/components/_header.scss */
.block--commercebox-base-theme-cb-cart h2 {
  background-position: 10px -71px; }

/* line 2, ../sass/components/_navigation.scss */
#block-system-main-menu ul {
  list-style: none;
  padding: 0;
  margin: 1em 0 0 0; }
  /* line 6, ../sass/components/_navigation.scss */
  #block-system-main-menu ul li {
    display: inline-block; }
    /* line 8, ../sass/components/_navigation.scss */
    #block-system-main-menu ul li a {
      text-decoration: none;
      color: #292929;
      padding: .5em 1em .5em 0;
      display: block; }
    /* line 14, ../sass/components/_navigation.scss */
    #block-system-main-menu ul li a:hover {
      text-decoration: underline; }

/* line 22, ../sass/components/_navigation.scss */
#block-menu-menu-benutzer-menu ul {
  padding: 0;
  margin: 1em 0 0 0; }
  /* line 28, ../sass/components/_navigation.scss */
  #block-menu-menu-benutzer-menu ul li {
    display: inline-block; }
    /* line 30, ../sass/components/_navigation.scss */
    #block-menu-menu-benutzer-menu ul li a {
      text-decoration: none;
      color: #292929;
      padding: .5em 0;
      margin: 0 1em;
      display: block;
      border-bottom: 5px solid transparent; }
    /* line 38, ../sass/components/_navigation.scss */
    #block-menu-menu-benutzer-menu ul li a:hover, #block-menu-menu-benutzer-menu ul li a:focus, #block-menu-menu-benutzer-menu ul li a:active, #block-menu-menu-benutzer-menu ul li a.active {
      text-decoration: none;
      border-bottom: 5px solid #292929; }

/* line 46, ../sass/components/_navigation.scss */
nav.block--menu-menu-pflichtmenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; }
  /* line 51, ../sass/components/_navigation.scss */
  nav.block--menu-menu-pflichtmenu ul li {
    display: inline-block; }
    /* line 53, ../sass/components/_navigation.scss */
    nav.block--menu-menu-pflichtmenu ul li a {
      text-decoration: none;
      color: #292929;
      padding: 0.5em 0;
      margin: 0 1em;
      display: block;
      border-top: 5px solid transparent; }
    /* line 61, ../sass/components/_navigation.scss */
    nav.block--menu-menu-pflichtmenu ul li a:hover, nav.block--menu-menu-pflichtmenu ul li a:focus, nav.block--menu-menu-pflichtmenu ul li a:active, nav.block--menu-menu-pflichtmenu ul li a.active {
      text-decoration: none;
      border-top: 5px solid #292929; }

/* line 1, ../sass/components/_product_node.scss */
.label-above {
  font-weight: 600; }

/* line 4, ../sass/components/_product_node.scss */
.node-type-product-display .l-content {
  padding: 1em;
  /*margin: 0 0 1em 0; interferes with sidebars*/
  position: relative;
  /*background: #EBE9E7;*/
  border: 1px solid #ebe9e7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  /*@include single-box-shadow($default-box-shadow-color, 0, 0, $default-box-shadow-blur);*/ }

/* line 16, ../sass/components/_product_node.scss */
.node--product-display--full {
  /*.field-name-field-pd-type,
  .field--name-field-pd-type,
  .field-name-field-pd-category,
  .field--name-field-pd-category,
   {
    float: left;
    display: inline-block;
    margin-bottom: 3em;
  }*/ }
  /* line 17, ../sass/components/_product_node.scss */
  .node--product-display--full span.new {
    padding: 10px 100px;
    right: -70px;
    top: 30px;
    border: 0;
    box-shadow: none; }
  /* line 26, ../sass/components/_product_node.scss */
  .node--product-display--full .group-header .field-name-field-product-subtitle,
  .node--product-display--full .group-header .field--name-field-product-subtitle {
    font-weight: 600;
    font-size: 1em; }
  /* line 31, ../sass/components/_product_node.scss */
  .node--product-display--full .group-left {
    float: left;
    width: 70%;
    padding-right: 4em; }
    /* line 35, ../sass/components/_product_node.scss */
    .node--product-display--full .group-left .field-name-field-product-image {
      margin-top: 1.5em; }
  /* line 39, ../sass/components/_product_node.scss */
  .node--product-display--full .group-right {
    float: left;
    width: 30%;
    margin-top: 1em;
    position: relative; }
    /* line 44, ../sass/components/_product_node.scss */
    .node--product-display--full .group-right .field-name-field-product-pdf {
      padding-bottom: 1em; }
    /* line 47, ../sass/components/_product_node.scss */
    .node--product-display--full .group-right .field-name-field-pd-category {
      padding-bottom: .5em; }
    /* line 50, ../sass/components/_product_node.scss */
    .node--product-display--full .group-right .field.field-name-field-pd-type {
      padding-bottom: 0.5em; }
    /* line 53, ../sass/components/_product_node.scss */
    .node--product-display--full .group-right .field-name-commerce-price {
      font-size: 1.6em;
      margin: .5em 2em 0 0;
      line-height: 1;
      position: static;
      margin: 0;
      padding: 3em 0 .6em; }
    /* line 61, ../sass/components/_product_node.scss */
    .node--product-display--full .group-right .field.field-name-field-product-tax {
      padding-bottom: 0;
      font-size: .8em;
      float: left;
      clear: both;
      position: static; }
    /* line 68, ../sass/components/_product_node.scss */
    .node--product-display--full .group-right .field-name-link-zzgl-versandkosten {
      font-size: 0.8em;
      padding: 0 0 1em;
      float: left;
      clear: both;
      position: static; }
      /* line 74, ../sass/components/_product_node.scss */
      .node--product-display--full .group-right .field-name-link-zzgl-versandkosten p {
        margin: 0; }
    /* line 78, ../sass/components/_product_node.scss */
    .node--product-display--full .group-right .commerce-add-to-cart {
      position: absolute;
      right: 1em;
      padding: 3.5em 0 2.5em;
      margin: 0; }
      /* line 83, ../sass/components/_product_node.scss */
      .node--product-display--full .group-right .commerce-add-to-cart .form-submit {
        float: none;
        position: static; }
    /* line 90, ../sass/components/_product_node.scss */
    .node--product-display--full .group-right .field-name-field-commerce-product,
    .node--product-display--full .group-right .field--name-field-commerce-product,
    .node--product-display--full .group-right .node-type-product-display .commerce-add-to-cart .form-submit {
      margin: 2em -0.5em 2em 0;
      box-shadow: 3px 2px 4px; }
    /* line 95, ../sass/components/_product_node.scss */
    .node--product-display--full .group-right .commerce-add-to-cart input.wishlist,
    .node--product-display--full .group-right .in-wishlist {
      position: absolute !important;
      bottom: .8em !important;
      right: 0;
      margin: 0; }
  /* line 102, ../sass/components/_product_node.scss */
  .node--product-display--full .group-footer {
    float: left;
    height: 5em;
    width: 100%; }
    /* line 106, ../sass/components/_product_node.scss */
    .node--product-display--full .group-footer .field-name-commerce-price {
      font-size: 1.6em;
      margin: .5em 2em 0 0;
      line-height: 1;
      float: left;
      position: static;
      margin: 0;
      padding: 1.2em 2em 0 0; }
    /* line 115, ../sass/components/_product_node.scss */
    .node--product-display--full .group-footer .field.field-name-field-product-tax {
      padding-bottom: 3.1em;
      font-size: .8em; }
    /* line 119, ../sass/components/_product_node.scss */
    .node--product-display--full .group-footer .field-name-link-zzgl-versandkosten {
      font-size: 0.8em;
      padding: 0 0 1em; }
    /* line 123, ../sass/components/_product_node.scss */
    .node--product-display--full .group-footer .commerce-add-to-cart {
      float: left;
      padding: 1em 0; }
      /* line 126, ../sass/components/_product_node.scss */
      .node--product-display--full .group-footer .commerce-add-to-cart .form-submit {
        float: none;
        position: static; }
    /* line 133, ../sass/components/_product_node.scss */
    .node--product-display--full .group-footer .field-name-field-commerce-product,
    .node--product-display--full .group-footer .field--name-field-commerce-product,
    .node--product-display--full .group-footer .node-type-product-display .commerce-add-to-cart .form-submit {
      margin: 2em -0.5em 2em 0;
      box-shadow: 3px 2px 4px; }
  /* line 147, ../sass/components/_product_node.scss */
  .node--product-display--full .field--name-field-product-image {
    float: left;
    margin: 1em 1em 1em 0; }

/* Block Überschriften */
/* line 2, ../sass/components/_products.scss */
h2.block__title {
  /*background: $orange;*/
  /*border-bottom: 5px solid $orange;*/
  background: #fbb900;
  color: #292929;
  padding: .3em .5em;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px; }

/* line 10, ../sass/components/_products.scss */
span.file-size {
  display: none; }

/* line 13, ../sass/components/_products.scss */
.file-icon {
  margin-bottom: -0.2em; }

/* line 16, ../sass/components/_products.scss */
span.new {
  background-color: #a00;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  /*border: 1px solid #faa;*/
  color: #fff;
  display: block;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  right: -40px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  /*-webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;*/ }

/* line 40, ../sass/components/_products.scss */
ul.views-fluid-grid-items-h-margin-0-5em li.views-fluid-grid-item {
  margin-left: 0; }

/* line 43, ../sass/components/_products.scss */
ul.views-fluid-grid-items-v-margin-1em li.views-fluid-grid-item {
  margin-bottom: 1em;
  margin-top: 0; }

/* line 47, ../sass/components/_products.scss */
li.views-fluid-grid-item {
  padding: 1em 1em 5em;
  margin: 0 1em 1em 0;
  position: relative;
  /*background: $light-grey;*/
  border: 1px solid #d5d5d5;
  width: 19%;
  min-width: 150px;
  max-width: 226px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  /* line 61, ../sass/components/_products.scss */
  li.views-fluid-grid-item span.new {
    padding: 3px 50px; }

/* line 66, ../sass/components/_products.scss */
.field-name-commerce-price,
.field--name-commerce-price {
  float: left;
  position: absolute;
  bottom: 0;
  clear: both;
  font-weight: 600;
  font-size: 1.2em;
  padding: 1em 1em 2.7em 0; }

/* line 75, ../sass/components/_products.scss */
.field-name-field-product-tax {
  bottom: 0;
  font-size: 0.7em;
  padding-bottom: 2.5em;
  position: absolute; }

/* line 81, ../sass/components/_products.scss */
.field-name-link-zzgl-versandkosten {
  bottom: 0;
  font-size: 0.7em;
  line-height: 1;
  padding: 0 0 0.5em;
  position: absolute; }

/* line 90, ../sass/components/_products.scss */
.field-name-field-commerce-product,
.field--name-field-commerce-product,
.node-type-product-display .commerce-add-to-cart .form-submit {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em 0;
  padding-left: .5em; }

/* line 98, ../sass/components/_products.scss */
.commerce-add-to-cart .form-submit {
  background: url(../images/cart_32.png) no-repeat center #fbb900;
  height: 30px;
  text-indent: -999em;
  width: 40px;
  padding: 0;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px; }

/* line 106, ../sass/components/_products.scss */
.commerce-add-to-cart .form-submit:hover {
  background: url(../images/cart_32_fff.png) no-repeat center #aa0000; }

/* line 110, ../sass/components/_products.scss */
.commerce-add-to-cart input.wishlist,
.in-wishlist {
  font-weight: 600;
  text-decoration: none;
  line-height: 1;
  background: none;
  text-indent: 0;
  width: auto;
  height: auto;
  position: absolute;
  bottom: 0; }

/* line 121, ../sass/components/_products.scss */
.commerce-add-to-cart input.wishlist:hover {
  background: none;
  text-decoration: underline;
  color: #fbb900; }

/* line 126, ../sass/components/_products.scss */
.form-item-quantity {
  display: inline; }
  /* line 128, ../sass/components/_products.scss */
  .form-item-quantity input {
    width: 35px;
    height: 31px;
    padding: 0 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px; }
  /* line 134, ../sass/components/_products.scss */
  .form-item-quantity label {
    display: none; }

/* line 138, ../sass/components/_products.scss */
.out-of-stock .form-item-quantity {
  display: none; }

/* line 143, ../sass/components/_products.scss */
.field-name-field-product-subtitle,
.field--name-field-product-subtitle {
  margin-bottom: 1em;
  line-height: 1.2;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

/* Suchleiste */
/* line 149, ../sass/components/_products.scss */
.block--facetapi {
  /*background: $light-grey;*/ }
  /* line 151, ../sass/components/_products.scss */
  .block--facetapi h2 {
    /*background: $orange;*/
    /*border-bottom: 5px solid $orange;*/
    background: #fbb900;
    color: #292929;
    font-weight: 600;
    padding: .3em .5em;
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px; }
  /* line 160, ../sass/components/_products.scss */
  .block--facetapi ul {
    list-style: none;
    padding: 0 .2em 1em .6em; }

/* line 167, ../sass/components/_products.scss */
.view-id-produkte h2 a,
.field--name-title-field a,
.view-display-products h2 a {
  text-decoration: none; }

/* line 170, ../sass/components/_products.scss */
.view-id-produkte .field-name-field-pd-description {
  display: none; }

/* line 173, ../sass/components/_products.scss */
.view-id-produkte .views-fluid-grid-item:hover .field-name-field-pd-description {
  display: block;
  clear: both; }

/* Grid View Startseite */
/* line 179, ../sass/components/_products.scss */
.views-fluid-grid h2 {
  font-size: 1em; }
/* line 183, ../sass/components/_products.scss */
.views-fluid-grid .field-name-field-product-image,
.views-fluid-grid .field--name-field-product-image {
  text-align: center;
  float: none;
  margin: 0 0 .5em 0;
  min-height: 182px; }
/* line 191, ../sass/components/_products.scss */
.views-fluid-grid .field-name-field-product-pdf,
.views-fluid-grid .field--name-field-product-pdf,
.views-fluid-grid .field-name-field-pd-pdfs {
  float: left;
  padding: 0 0 1em; }

/* line 197, ../sass/components/_products.scss */
.field-name-field-product-image,
.field--name-field-product-image {
  float: left;
  margin-right: 1em;
  margin-bottom: .5em; }

/* line 203, ../sass/components/_products.scss */
.view-id-produkte .field-name-field-product-image,
.view-id-produkte .field--name-field-product-image {
  float: none; }

/* line 209, ../sass/components/_products.scss */
.field-name-field-pd-category,
.field--name-field-pd-category,
.field-name-node-link,
.field--name-node-link {
  clear: both; }

/* line 212, ../sass/components/_products.scss */
.commerce-add-to-cart {
  padding: 0;
  margin-bottom: 1.6em;
  float: left; }

/* line 218, ../sass/components/_products.scss */
button[disabled], html input[disabled] {
  display: none; }

/* line 221, ../sass/components/_products.scss */
#flexslider-1 {
  width: 175px; }

/* line 224, ../sass/components/_products.scss */
.pager li {
  list-style: none;
  display: inline-block; }
  /* line 227, ../sass/components/_products.scss */
  .pager li a {
    text-decoration: none; }

/* line 231, ../sass/components/_products.scss */
.page-user-ich-wishlist .commerce-add-to-cart {
  margin-bottom: 0; }

/* Sortieren Block */
/* line 2, ../sass/components/_search.scss */
.block--search-api-sorts {
  overflow: hidden; }
  /* line 4, ../sass/components/_search.scss */
  .block--search-api-sorts h2 {
    font-size: 1em;
    line-height: 1.3;
    font-weight: 400;
    display: inline;
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
    background: none;
    border: none;
    color: #292929; }
  /* line 16, ../sass/components/_search.scss */
  .block--search-api-sorts ul {
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;
    display: inline;
    float: left; }
  /* line 23, ../sass/components/_search.scss */
  .block--search-api-sorts li {
    display: inline;
    float: left; }
    /* line 26, ../sass/components/_search.scss */
    .block--search-api-sorts li a {
      padding: .5em .75em 0 0;
      font-weight: 600; }
      /* line 29, ../sass/components/_search.scss */
      .block--search-api-sorts li a img {
        padding-left: 5px; }

/* Volltext Suche */
/* line 37, ../sass/components/_search.scss */
.search {
  /*margin-left: 1em;*/ }
  /* line 39, ../sass/components/_search.scss */
  .search input.form-text {
    max-width: 150px; }
  /* line 42, ../sass/components/_search.scss */
  .search .views-submit-button {
    float: right; }
  /* line 45, ../sass/components/_search.scss */
  .search .compact-form-label {
    top: 12px;
    left: 10px;
    font-size: .9em; }
  /* line 50, ../sass/components/_search.scss */
  .search .views-exposed-form .views-exposed-widget {
    padding-right: 0; }
    /* line 52, ../sass/components/_search.scss */
    .search .views-exposed-form .views-exposed-widget .form-submit {
      margin-top: 0;
      background: url(../images/peter_burdette_search.png) no-repeat center #fbb900;
      text-indent: -999em;
      width: 50px;
      padding: 0;
      height: 30px; }

/* line 63, ../sass/components/_search.scss */
.block--current-search-search-results,
.block--current-search-standard {
  background: #ebe9e7; }
  /* line 65, ../sass/components/_search.scss */
  .block--current-search-search-results .block__content,
  .block--current-search-standard .block__content {
    padding: 0 1em; }
    /* line 67, ../sass/components/_search.scss */
    .block--current-search-search-results .block__content h3,
    .block--current-search-standard .block__content h3 {
      margin: .5em 0 0 0; }
    /* line 70, ../sass/components/_search.scss */
    .block--current-search-search-results .block__content ul,
    .block--current-search-standard .block__content ul {
      margin-top: 0;
      padding-bottom: .5em; }

/* line 77, ../sass/components/_search.scss */
.current-search-item ul {
  list-style: none;
  padding-left: 0; }

/* line 82, ../sass/components/_search.scss */
.block--facetapi {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  /* line 84, ../sass/components/_search.scss */
  .block--facetapi ul li {
    margin-bottom: .5em;
    line-height: 1.2; }
  /* line 88, ../sass/components/_search.scss */
  .block--facetapi ul li a {
    text-decoration: none;
    font-weight: 600;
    line-height: 1.5;
    border-bottom: 3px solid transparent; }
  /* line 94, ../sass/components/_search.scss */
  .block--facetapi ul li a:hover {
    /*text-decoration: underline;*/
    text-decoration: none;
    color: #292929;
    border-bottom: 3px solid #292929; }

/* line 2, ../sass/components/_suedlink.scss */
.view-suedlink-abo article {
  *zoom: 1; }
  /* line 38, ../../../../../../../../../../home/o1.ftp/.rvm/gems/ruby-2.1.2/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .view-suedlink-abo article:after {
    content: "";
    display: table;
    clear: both; }
/* line 5, ../sass/components/_suedlink.scss */
.view-suedlink-abo header h2.node__title {
  margin-top: 1em;
  clear: both; }
/* line 9, ../sass/components/_suedlink.scss */
.view-suedlink-abo .commerce-add-to-cart .form-submit {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
/* line 13, ../sass/components/_suedlink.scss */
.view-suedlink-abo .field--name-body {
  /*float: left;
  width: 60%;
  margin-right: 1em;
  min-height: 300px;*/
  width: 57.74648%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }
/* line 20, ../sass/components/_suedlink.scss */
.view-suedlink-abo .commerce-product-field-field-rec-description {
  width: 40.84507%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
/* line 23, ../sass/components/_suedlink.scss */
.view-suedlink-abo .commerce-product-field-commerce-price {
  /*float: left;
  margin: 1em 1em 0;*/
  width: 7.04225%;
  float: left;
  margin-right: -100%;
  margin-left: 59.15493%;
  clear: both;
  padding-right: 0;
  margin-top: 0; }
  /* line 29, ../sass/components/_suedlink.scss */
  .view-suedlink-abo .commerce-product-field-commerce-price .field--name-commerce-price {
    padding: 0; }
/* line 33, ../sass/components/_suedlink.scss */
.view-suedlink-abo .commerce-product-field-field-rec-description {
  /*width: 33%;*/ }
  /* line 35, ../sass/components/_suedlink.scss */
  .view-suedlink-abo .commerce-product-field-field-rec-description ul {
    padding-left: 1em; }
/* line 39, ../sass/components/_suedlink.scss */
.view-suedlink-abo .field--name-field-product {
  /*float: left;
  margin: 1em;*/
  width: 23.94366%;
  float: left;
  margin-right: -100%;
  margin-left: 67.60563%;
  clear: none; }
/* line 44, ../sass/components/_suedlink.scss */
.view-suedlink-abo .field--name-commerce-price {
  bottom: 0;
  clear: none;
  float: none;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em 1em 1em 0;
  position: static; }

/* User acount pages */
/* line 3, ../sass/components/_users.scss */
.view-commerce-addressbook-defaults {
  width: 200px;
  background: #ffffbb;
  padding: 1em; }

/* line 9, ../sass/components/_users.scss */
.view-commerce-addressbook td {
  padding: 1em;
  background: white; }
