body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.main {
  width: 540px;
  position: absolute;
  left: 10px;
}
.logobar {
  width: 111px;
  position: absolute;
  right: 0;
}
.header {
  width: 540px;
  height: 100px;
  position: absolute;
  left: 10px;
  border: 0;
}
.header img {
  width: 269px;
  position: absolute;
  top: 10px;
}
.text {
  position: absolute;
  top: 300px;
}
.invoice-header {
  width: 540px;
  height: 100px;
  top: 50px;
  position: absolute;
  font-size: 16px;
  color: #000;
  text-align: left;
  z-index: 1000;
}
.invoice-footer {
  border-top: 0px solid #646464;
  width: 100%;
  font-size: 14px;
  color: #646464;
  text-align: center;
  padding-top: 4px;
}

.invoice-text {
  margin-top: 50px;
}

.customer {
  position: relative;
  left: 0;
  top: 100px;
  margin-bottom: 100px;
}
.field--name-commerce-customer-billing .field__label {
  display: none;
}

.customer .field-label{
  display: none;
}
.customer .field-name-field-customer-lastname {
  display: none;
}

.invoice-number {
  position: absolute;
  top: 120px;
  left: 340px;
}
.order-id {
  position: absolute;
  top: 140px;
  left: 340px;
}
.invoice-header-date {
  /*margin-top: 25px;
  margin-left: 450px;
  text-align: right;*/
  position: absolute;
  top: 100px;
  left: 340px;
}
.line-items {
  margin-top: 80px;
}
.invoice-footer {
  position: absolute;
  bottom: 0;
}
.view-commerce-line-item-table table {
  width: 540px;
  line-height: 1.2em;
  border-collapse: collapse;
}
.view-commerce-line-item-table thead {
  border-bottom: 2px solid black;
}
.view-commerce-line-item-table th {
  text-align: right;
}
.view-commerce-line-item-table td {
  text-align: right;
  height: 30px;
}

.view-commerce-line-item-table .views-field-commerce-unit-price {
    width: 90px;
}
.view-commerce-line-item-table .views-field-commerce-total {
  text-align: right;
  width: 110px;
}
.view-commerce-line-item-table .views-field-quantity {
  padding-right: 15px;
  width: 50px;
  text-align: center;
}
.view-commerce-line-item-table .views-field-line-item-title {
  text-align: left;
}

.order-total table {
  width: 540px;
  border-top: 2px solid #ddd;
  font-weight: bold;
}
td.component-title {
  text-align: right;
}
td.component-total {
  text-align: right;
  width: 100px;
}

.contextual-links-wrapper {
  display: none;
}

.invoice-canceled .order-total table {
  border: 2px solid #ddd;
  margin-top: 100px;
}
