/* Südlink Aktuelles Heft */
.view-display-id-block_1 li.views-fluid-grid-item {
  width: 100%;
}

/* Social Media Block */

.service-links {
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
    float: left;
    margin-right: .4em;
  }
}

/* Automatische Ähnliche Produkte */

.view-display-id-aehnliche_produkte {
  li.views-fluid-grid-item {
    width: 100%;
    -moz-box-sizing: border-box !important;
    border-sizing: border-box !important;
  }
  .blocklink {
    padding: 1em;
    border: 1px solid $subtle-grey;
    display: block;
    text-decoration: none;
    color: $black;
  }
  .blocklink:hover {
    text-decoration: none;
  }
}