/* Warenkorb */
.block--commerce-cart {
  /*background: $light-grey;*/
  margin-bottom: 1em;
  @include border-radius($default-border-radius);
    table tr.even, table tr.odd {
      /*background: $light-grey;*/
    }
    table tr.odd {
      /*background: #ddd;*/
    }
}
.cart-contents {
  padding: .6em;
}
.line-item-summary {
    margin-top: 0.4em;
    margin-bottom: .6em;
    width: 99%;
    .links {
      margin-bottom: 0.4em;
      margin-top: 0.8em;
    }
}

.cart-empty-block {
    padding: 0 0 1em 0.5em;
}

/* Ajax Cart Block */

.block--views-shopping-cart-block {
  margin-top: 1em !important;
  .view-empty {
    p {
      display: none;
    }
  }
  .line-item-summary {
    width: 200px;
    min-height: 2em;
    border: 1px solid $ink-grey;
    padding: .4em .5em 0;
    margin: 0;
    float: right;
    position: relative;
    background: url(../images/cart_32.png) top left no-repeat $yellow;
    @include border-radius($default-border-radius);
    .line-item-quantity {
      padding-left: 2em;
    }
    .line-item-total-label {
      display: none;
    }
    .links {
      margin-top: .4em;
      li.last {
        margin-right: 0;
        float: right;
      }
    }
  }
  #commerce-ajax-cart-preview {
    z-index: 1000;
    border: 1px solid $ink-grey;
    background: $yellow !important;
    top: 2.2em !important;
    @include box-shadow();
    @include border-radius($default-border-radius);
    .line-item-summary {
      background: none;
      width: 100%;
      border: none;
      float: left;
      .line-item-quantity {
        padding-left: 0;
      }
      li {
        list-style: none;
      }
      a {
        text-decoration: none;
      }
      a:hover {
        color: $black;
      }
    }
    table {
      @include border-radius($default-border-radius);
      border: 1px solid $ink-grey !important;
    }
    table tr.even, table tr.odd {
      /*background: $light-grey;*/
    }
    table tr.odd {
      /*background: #ddd;*/
    }
    td {
      padding: 1em .5em;
    }
    td.views-field-quantity {
      min-width: 2.5em;
    }
    td.views-field-commerce-total {
      min-width: 4em;
    }
  }
}

/* Add to cart confirmation */
.messages--commerce-add-to-cart-confirmation {
  background-color: white;
  border-color: #6bb0cb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 2px 15px #57595a;
  -webkit-box-shadow: 0 2px 15px #57595a;
  box-shadow: 0 2px 15px #57595a;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#57595A', direction='180', strength='5');
  color: #aeaaa5;
  left: 50%;
  margin-left: -20% !important; /* width/2 */
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 450px;
  z-index: 201;
}

.messages--commerce-add-to-cart-confirmation .message-inner .commerce-add-to-cart-confirmation-close {
  background: url('../images/btn_add-to-cart-close.png') no-repeat 0 0;
  display: block;
  height: 17px;
  position: absolute;
  right: 15px; /* LTR */
  top: 15px;
  width: 18px;
  z-index: 205;
}

.messages--commerce-add-to-cart-confirmation .message-inner .added-product-title {
  color: #2698f2;
  float: left; /* LTR */
  font-size: 14px;
  font-weight: bold;
  padding: 10px 30px 10px 20px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.messages--commerce-add-to-cart-confirmation .message-inner .button-wrapper:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.messages--commerce-add-to-cart-confirmation .message-inner .button-wrapper .button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;

  width: 46%;
  float:left;
}

div.messages--commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.checkout {
  background-color: #2698f2;
}
div.messages--commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.continue {
  background-color: #b3b3b3;
}
div.messages--commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.continue .commerce-add-to-cart-confirmation-close {
  background: none;
  height: auto;
  position: static;
  width: auto;
}
div.messages--commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.checkout:hover,
div.messages--commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.continue:hover {
  cursor: pointer;
}
div.messages--commerce-add-to-cart-confirmation .message-inner .button-wrapper .button a {
  color: #292929;
  display: block;
  font-weight: bold;
  word-wrap: break-word;
}
/* Product display */
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display {
  clear: both;
  z-index: -1;
}
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content {
  padding: 15px;
  position: relative;
  width: 100%;
}
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .content .field-name-field-images {
  position: relative;
  width: 130px;
}
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .content .field-name-field-images img {
  border: #d7d7d7 solid 1px;
}
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .commerce-product-sku .commerce-product-sku-label,
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .field .views-label,
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .field .field-label {
  color: #878380;
  float: left; /* LTR */
  font-size: 12px;
  font-weight: bold;
  padding-right: 5px; /* LTR */
}

div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .field {
  clear: both;
  margin: 0;
  text-align: left; /* LTR */
}
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .field .field-label {
  display: inline;
  float: left; /* LTR */
}
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .views-field-commerce-total {
  clear: both;
  font-size: 20px;
  margin-top: 25px;
}
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .views-field-commerce-total .views-label {
  float: left; /* LTR */
  padding-right: 5px; /* LTR */
}
div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .views-field-commerce-total .field-content {
  color: #2698f2;
  display: inline;
  float: right; /* LTR */
}


