/* INKOTA Header
.header_container {
    clear: both;
    height: 281px;
    padding: 4px 0 0;
} */
#header * {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#header {
    /*background: url("../images/headerback.jpg") no-repeat scroll left top #FFFFFF;*/
    height: 80px;
    position: relative;
    margin: 0 auto;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#header img {
    float: left;
}
/*#headerimage {
    margin: 0 0 0 100px;
}*/
#logo {
    float: left;
    height: 66px;
    margin: 0;
    padding: 20px 0 0 1em;
    width: 306px;
}
#extranavi {
    float: left;
    height: 86px;
    margin: 0 0 0 2px;
    width: 288px;
}
#extranavi ul {
    color: #FFFFFF;
    font-size: 0.75em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    list-style: none;
}
#extranavi ul li {
    display: block;
    float: left;
    margin: 0;
}
#extranavi ul li a.aktuelles:link, #extranavi ul li a.aktuelles:visited {
    background: url("../images/sprite_extra.png") no-repeat scroll 2px 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    height: 86px;
    margin: 0 14px 0 14px;
    text-decoration: none;
    text-indent: -999em;
    width: 77px;
}
#extranavi ul li a.aktuelles:hover, #extranavi ul li a.aktuelles:active, #extranavi ul li a.aktuelles_current {
    background: url("../images/sprite_extra.png") no-repeat scroll 2px -111px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    height: 86px;
    margin: 0 14px 0 14px;
    text-decoration: none;
    text-indent: -999em;
    width: 77px;
}
#extranavi ul li a.mitmachen:link, #extranavi ul li a.mitmachen:visited {
    background: url("../images/sprite_extra.png") no-repeat scroll 2px -222px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    height: 86px;
    margin: 0 13px 0 2px;
    text-decoration: none;
    text-indent: -999em;
    width: 77px;
}
#extranavi ul li a.mitmachen:hover, #extranavi ul li a.mitmachen:active, #extranavi ul li a.mitmachen_current {
    background: url("../images/sprite_extra.png") no-repeat scroll 2px -333px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    height: 86px;
    margin: 0 13px 0 2px;
    text-decoration: none;
    text-indent: -999em;
    width: 77px;
}
#extranavi ul li a.spenden:link, #extranavi ul li a.spenden:visited {
    background: url("../images/sprite_extra.png") no-repeat scroll 2px -444px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    height: 86px;
    text-decoration: none;
    text-indent: -999em;
    width: 77px;
}
#extranavi ul li a.spenden:hover, #extranavi ul li a.spenden:active, #extranavi ul li a.spenden_current {
    background: url("../images/sprite_extra.png") no-repeat scroll 2px -555px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    height: 86px;
    margin: 0;
    text-decoration: none;
    text-indent: -999em;
    width: 77px;
}
#suche {
    border-left: 1px solid #000000;
    float: left;
    height: 45px;
    padding: 28px 0 13px 10px;
    width: 175px;
}
#suche ul {
    color: #FFFFFF;
    font-size: 0.69em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#suche ul li {
    display: block;
    float: left;
    margin: 0;
}
#suche ul li a:link, #suche ul li a:visited {
    color: #000000;
    display: block;
    font-weight: bold;
    height: 10px;
    margin: 4px 15px 10px 0;
    text-decoration: none;
    width: 35px;
}
#suche ul li a.warenkorb:link, #suche ul li a.warenkorb:visited {
    background: url("../images/korb.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    height: 19px;
    margin: 0 15px 0 17px;
    text-decoration: none;
    text-indent: -999em;
    width: 25px;
}

#suchbox {
    clear: both;
}
input.suche {
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    display: block;
    float: left;
    height: 18px;
    margin: 0 3px 0 0;
    padding: 0;
    width: 109px;
}
input.such_button {
    background: none repeat scroll 0 0 #000000;
    border: medium none;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    height: 20px;
    width: 31px;
}
#nav_lang {
    float: right;
    height: 86px;
    width: 100px;
}
#nav_lang ul {
    font-size: 0.7em;
    list-style: none outside none;
    margin: 12px 0 0 1px;
    padding: 0 1em 0 0;
}
#nav_lang ul li {
    padding: 2px 0 0;
}
#nav_lang ul li a:link, #nav_lang ul li a:visited {
    background: url("../images/sprachpfeil.jpg") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
    color: #000000;
    display: block;
    font-weight: bold;
    height: 20px;
    padding: 3px 0 0 20px;
    text-decoration: none;
}
#nav_lang ul li a:active, #nav_lang ul li a:hover, #nav_lang ul li a.current {
    background: url("../images/sprachpfeil.jpg") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
    color: #FFB900;
    display: block;
    height: 20px;
    padding: 3px 0 0 20px;
    text-decoration: none;
}
.skip {
    left: -1000em;
    position: absolute;
    width: 20em;
}
/*#fahne {
    left: 840px;
    position: absolute;
    top: 105px;
    z-index: 1;
}
#mainnavi {
    margin: 0;
}
#mainnavi ul {
    color: #FFFFFF;
    font-size: 0.75em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#mainnavi ul li {
    border-right: 1px solid #787878;
    display: block;
    float: left;
    height: 45px;
    margin: 0;
    text-align: center;
    width: 159px;
}
#mainnavi ul li a:link, #mainnavi ul li a:visited {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    display: block;
    height: 30px;
    padding: 15px 0 0;
    text-decoration: none;
    width: 159px;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#mainnavi ul li a:hover, #mainnavi ul li a:active, #mainnavi ul li a.current {
    background: none repeat scroll 0 0 #FFB900;
    color: #000000;
    display: block;
    height: 30px;
    padding: 15px 0 0;
    text-decoration: none;
    width: 159px;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#mainnavi ul li.last a:hover, #mainnavi ul li.last a:active, #mainnavi ul li.last a.current {
    background: none repeat scroll 0 0 #FFB900;
    color: #000000;
    display: block;
    height: 30px;
    padding: 15px 0 0;
    text-decoration: none;
    width: 160px;
}*/

.pane-commercebox-wishlist, .block--commercebox-base-theme-cb-cart{
    float: right;
    position: relative;
}
.pane-commercebox-wishlist .pane-content, .block--commercebox-base-theme-cb-cart .block__content {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: -1px 3px 5px rgba(103, 180, 230, 0.5);
    display: none;
    left: 20px;
    padding: 20px;
    position: absolute;
    right: auto;
    width: 380px;
    z-index: 1000;
}
.block--commercebox-base-theme-cb-cart .block__content {
    left: auto;
    right: 0;
}
.pane-commercebox-wishlist h2, .block--commercebox-base-theme-cb-cart h2, .block-commerce-product-comparison h2 {
    background: url("/sites/all/themes/cb/images/subheader-icons.png") no-repeat scroll 10px 12px rgba(0, 0, 0, 0);
    color: #000000;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 0 0 20px;
    padding: 0 10px 0 32px;
    text-decoration: underline;
}

.block--commercebox-base-theme-cb-cart h2 {
    background-position: 10px -71px;
}