/* Block Überschriften */
h2.block__title {
    background: $orange;
    color: $black;
    padding: .3em .5em;
    @include border-top-radius($default-border-radius);
}
ul.views-fluid-grid-items-h-margin-0-5em li.views-fluid-grid-item {
  margin-left: 0;
}
ul.views-fluid-grid-items-v-margin-1em li.views-fluid-grid-item {
  margin-bottom: 1em;
  margin-top: 0;
}
li.views-fluid-grid-item {
  padding: 1em;
  margin: 0 1em 1em 0;
  position: relative;
  background: $light-grey;
  @include border-radius($default-border-radius);
  width:100%;
  max-width: 221px;
  @include breakpoint($desk) {
    width: 19%;
  }
}
.field-name-commerce-price,
.field--name-commerce-price {
  float: left;
  position: absolute;
  bottom: 0;
  clear: both;
  font-weight: bold;
  font-size: 1.2em;
  padding: 1em 1em 1em 0;
}
.field-name-field-commerce-product,
.field--name-field-commerce-product,
.node-type-product-display .commerce-add-to-cart .form-submit {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em 0;
  padding-left: .5em;
}
.commerce-add-to-cart .form-submit {
  background: url(../images/cart_32.png) no-repeat center $orange;
  height: 32px;
  text-indent: -999em;
  width: 50px;
  padding: 0;
  @include border-left-radius($default-border-radius);
}
.commerce-add-to-cart .form-submit:hover {
  background: url(../images/cart_32.png) no-repeat center shade($orange, 5%);
}
.form-item-quantity {
  display: inline;
  input {
    width: 40px;
    height: 32px;
    padding: 0 5px;
    @include border-radius($default-border-radius);
  }
  label {
    display: none;
  }
}
.out-of-stock .form-item-quantity {
  display: none;
}

.field-name-field-product-subtitle,
.field--name-field-product-subtitle {
  margin-bottom: 1em;
  line-height: 1.2;
}
/* Suchleiste */
.block--facetapi {
  background: $light-grey;
  h2 {
    background: $orange;
    color: $black;
    padding: .3em .5em;
    @include border-top-radius($default-border-radius);
  }
  ul {
    list-style: none;
    padding: 0 .2em 1em .6em;
  }
}
.view-id-produkte h2 a,
.field--name-title-field a,
.view-display-products h2 a{
  text-decoration: none;
}
.view-id-produkte .field-name-field-pd-description {
  display: none;
}
.view-id-produkte .views-fluid-grid-item:hover .field-name-field-pd-description {
  display: block;
  clear: both;
}
/* Grid View Startseite */
.views-fluid-grid {
  h2 {
    font-size: 1em;
  }
  .field-name-field-product-image,
  .field--name-field-product-image {
    text-align: center;
    float: none;
    margin: 0 0 .5em 0;
  }
  .field-name-field-product-pdf,
  .field--name-field-product-pdf,
  .field-name-field-pd-pdfs {
    float: left;
    padding: 1em 0;
    position: absolute;
    right: 1em;
    bottom: 3em;
  }
}
.field-name-field-product-image,
.field--name-field-product-image {
  float: left;
  margin-right: 1em;
  margin-bottom: .5em;
}
.view-id-produkte .field-name-field-product-image,
.view-id-produkte .field--name-field-product-image {
  float: none;
  }
.field-name-field-pd-category,
.field--name-field-pd-category,
.field-name-node-link,
.field--name-node-link {
  clear: both;
}
.commerce-add-to-cart {
  padding: 0;
  float: left;
}

button[disabled], html input[disabled] {
    display: none;
}
#flexslider-1 {
  width: 175px;
}
.pager li {
  list-style: none;
  display: inline-block;
  a {
    text-decoration: none;
  }
}

/* Add to Cart Popup*/
div.messages--commerce-add-to-cart-confirmation {
  color: $black;
  .message-inner .added-product-title {
    color: $orange;
  }
  .view-confirm-message-product-display {
    z-index: -1;
    .commerce-product-sku-label,
    .commerce-product-title-label {
      display: none;
    }
    .views-field-commerce-product .field-name-field-product-image {
      margin: 0 1em .5em 0;
    }
    .views-field-commerce-product .field-name-commerce-price {
      position: static;
      float: none;
      clear: none;
    }
    .view-content .views-field-quantity .views-label-quantity {
      font-size: 1em;
      float: none;
    }
    .view-content .views-field-commerce-total,
    .view-content .views-field-commerce-total .field-content{
      color: $orange;
    }
    .views-field-commerce-product .field-name-field-product-subtitle {
      clear: none;
    }
  }
}

/*div.messages--commerce-add-to-cart-confirmation .view-confirm-message-product-display .view-content .views-field-commerce-total .field-content*/
