.label-above {
  font-weight: 700;
}
.node-type-product-display .l-content {
  padding: 2em;
  margin: 0 0 1em 0;
  position: relative;
  background: #EBE9E7;
  @include border-radius($default-border-radius);
}
.node--product-display--full {
  .group-left {
    float: left;
    width: 70%;
    padding-right: 1em;
    .field-name-field-product-image {
      margin-top: 1em;
    }
  }
  .group-right {
    float: left;
    width: 30%;
    .field-name-field-pd-category {
      clear: none;
    }
  }
  .group-footer {
      float: left;
      height: 4em;
      width: 100%;
  }
  /*.field-name-field-pd-type,
  .field--name-field-pd-type,
  .field-name-field-pd-category,
  .field--name-field-pd-category,
   {
    float: left;
    display: inline-block;
    margin-bottom: 3em;
  }*/
  .field--name-field-product-image {
    float: left;
    margin: 1em 1em 1em 0;
  }
}