/* Sortieren Block */
.block--search-api-sorts {
  overflow: hidden;
  h2 {
    font-size: 1em;
    line-height: 1.3;
    font-weight: 400;
    display: inline;
    float: left;
    margin: 0 5px 0 0 ;
    padding: 0;
    background: none;
    border: none;
    color: $black;
  }
  ul {
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;
    display: inline;
    float: left;
  }
  li {
    display: inline;
    float: left;
    a {
      padding: .5em .75em 0 0;
      font-weight: bold;
      img {
        padding-left: 5px;
      }
    }
  }
}

/* Volltext Suche */
.block--views-exp-display-products-page {
  /*margin-left: 1em;*/
  .compact-form-label {
    top: 12px;
    left: 10px;
    font-size: .9em;
  }
  .views-exposed-form .views-exposed-widget {
    padding-right: 0;
    .form-submit {
      margin-top: 0;
      background: url(../images/peter_burdette_search.png) no-repeat center $orange;
      text-indent: -999em;
      width: 50px;
      padding: 0;
      height: 30px;
    }
  }
}
.block--current-search-search-results,
.block--current-search-standard {
  background: $light-grey;
  .block__content {
      padding: 0 1em;
      h3 {
        margin: .5em 0 0 0;
      }
      ul {
        margin-top: 0;
        padding-bottom: .5em;
      }
  }
}
.current-search-item {
  ul {
    list-style: none;
    padding-left: 0;
  }
}
.block--facetapi {
  @include border-radius($default-border-radius);
  ul li {
    margin-bottom: .5em;
    line-height: 1.2;
  }
  ul li a {
    text-decoration: none;
    font-weight: 700;
    line-height: 1.5;
    border-bottom: 3px solid transparent;
  }
  ul li a:hover {
    /*text-decoration: underline;*/
    text-decoration: none;
    color: $black;
    border-bottom: 3px solid $black;
  }
}
