$pale-blue  : #d9e9ef;
$light-blue : #52b1ea;
$mid-blue   : #077dc3;
$dark-blue  : #064771;

$pale-orange: #efa47b;
$green      : #4a993e;
$red        : #b33630;

$dark-grey  : #222222;

/* INKOTA Colors */

  $orange: #fb9000;
  $black: #292929;
  $light-grey: #EBE9E7;

  $mid-grey   : #6a7076;
  $ink-grey: #d5d5d5;
  $yellow: #ffb;