$pale-blue  : #d9e9ef;
$light-blue : #52b1ea;
$mid-blue   : #077dc3;
$dark-blue  : #064771;

$pale-orange: #efa47b;
$green      : #4a993e;


$dark-grey  : #222222;

/* INKOTA Colors */

  $orange: #FBB900; /* #ffb900 */
  $light-orange: #fedb7f;
  $black: #292929;
  $white: #fff;
  $light-grey: #EBE9E7;

  $mid-grey   : #6a7076;
  $ink-grey: #d5d5d5;
  $yellow: #ffb;
  $red: #a00;

  $default-box-shadow-color: #ddd;
  $default-box-shadow-blur: 3px;