body {
  background: url('../images/cont_back.jpg') no-repeat 50% 0 !important;
  font-size: 14px;
  color: #292929;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
table {
  width: 99%;
}
table tbody {
  border: none;
  border-bottom: 1px solid #ccc;
}
table tr.even,
table tr.odd {
  background: #fff;
  border: none;
}
a {
  color: #292929;
  text-decoration: underline;
}
a:hover {
  color: #6fd2ed;
  text-decoration: none;
}
#highlighted {
  background-color: #67b4e6;
  line-height: 30px;
}
#highlighted a:hover {
  color: #fff;
}
.pre-user {
  background: url('../images/user_male.png') no-repeat 0 0;
  padding-left: 20px;
  margin-right: 10px;
}

#site-header {
  /*float: left;*/
  text-align: center;
}
table td {
  padding: 5px;
  vertical-align: middle;
}
input.form-text {
  height: 30px;
  border: 1px solid #c1cfdb;
  padding: 0 10px;
  font-size: 14px;
  margin: 0;
}
.form-submit {
  height: 29px;
  line-height: 29px;
  display: inline-block;
  background: #FFB900;
  color: #292929;
  text-decoration: none;
  text-align: center;
  padding: 0 20px;
  cursor: pointer;
  border: none;
  font-weight: bold;
}
.form-submit:hover {
  animation: myfirst 1s;
  -webkit-animation: myfirst1 1s;
  background: #FACB4E;
  color: #292929;
}
#search-block-form input.form-text {
  border-right: 0;
  outline: none;
  width: 200px;
}
#search-block-form input.form-submit {
  border: 1px solid #c1cfdb;
  border-left: none;
  background: #fff;
  line-height: 30px;
  margin: 0;
  padding: 0;
  text-indent: -999px;
  overflow: hidden;
  width: 30px;
  background: url('../images/search.png') no-repeat center center #fff;
  cursor: pointer;
  height: 32px;
}
#search-block-form input.form-submit:hover {
  background-color: #efefef;
  -webkit-animation: none, 0;
  animation: none, 0;
}
#search-block-form .form-item-search-block-form {
  float: left;
  margin: 0;
}
#block-search-form,
#search-block-form {
  float: left;
  padding-right: 20px;
  margin: 5px 0 0 100px;
}
#block-search-form,
#search-block-form {
  clear: both;
  float: none;
  margin: 10px auto 0;
  width: 251px;
  padding: 0;
}
.search-form .form-item-keys label {
  font-weight: normal;
  font-size: 18px;
  color: #000;
}
.pane-commercebox-wishlist,
.pane-cb-base-theme-cb-cart,
.block-commerce-product-comparison {
  position: relative;
}
.pane-commercebox-wishlist .pane-content,
.pane-cb-base-theme-cb-cart .pane-content,
.block-commerce-product-comparison .content {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 380px;
  background: #fff;
  /*left: 20px;*/
  right: 0;
  padding: 20px;
  box-shadow: -1px 3px 5px rgba(103, 180, 230, 0.5);
}
.pane-cb-base-theme-cb-cart .pane-content {
  right: 0;
  left: auto;
}
.pane-commercebox-wishlist h2,
.pane-cb-base-theme-cb-cart h2,
.block-commerce-product-comparison h2 {
  margin: 0 0 0 20px;
  color: #000;
  font-size: 14px;
  font-weight: normal;
  display: block;
  padding: 0 10px 0 32px;
  background: url('../images/subheader-icons.png') no-repeat 10px 12px;
  text-decoration: underline;
  cursor: pointer;
  line-height: 40px;
}
.pane-cb-base-theme-cb-cart h2 {
  background-position: 10px -71px;
}
.block-commerce-product-comparison h2 {
  background-position: 10px -28px;
}
.pane-commercebox-wishlist h2:hover,
.pane-cb-base-theme-cb-cart h2:hover,
.block-commerce-product-comparison h2:hover {
  text-decoration: none;
}
.pane-commercebox-wishlist .views-field-delete-wishlist a {

}
.pane-commercebox-wishlist h2.visible,
.pane-cb-base-theme-cb-cart h2.visible,
.block-commerce-product-comparison h2.visible {
  background-color: #fff;
  box-shadow: 0px -2px 5px rgba(103, 180, 230, 0.5);
}
.pane-commercebox-wishlist .pane-content td {
  background: #fff;
}
.pane-commercebox-wishlist .views-field-field-images {
  vertical-align: middle;
}
#main {
  clear: both;
}
.view-commercebox-shopping-cart-block td {
  vertical-align:middle;
  border: none;
}
.view-commercebox-shopping-cart-block .form-actions {
  display: none;
}
.pane-commercebox-wishlist .views-field-delete-wishlist {
  width: 50px;
  text-align: center;
  vertical-align: middle;
}
.pane-commercebox-wishlist .views-field-field-images img{
  margin-right: 5px;
}
.pane-commercebox-wishlist .views-field-add-to-cart-form {
  vertical-align: middle;
}
.pane-commercebox-wishlist .views-field-delete-wishlist a,
.view-commercebox-shopping-cart-block .delete-line-item,
#commerce-product-comparison-list-form .delete-from-comparison {
  background: url('../images/subheader-icons.png') no-repeat 0px -134px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: block;
  text-indent: -999px;
  border: 0;
  cursor: pointer;
  animation: none, 0;
  -webkit-animation: none, 0;
}
.view-commercebox-shopping-cart-block .line-item-total {
  text-align: left;
  float: left;
  line-height: 29px;
}
.view-commercebox-shopping-cart-block .line-item-summary-checkout a,
.view-commercebox-shopping-cart-block .line-item-summary-view-cart a {
  height: 29px;
  line-height: 29px;
  display: inline-block;
  background: #0f7ad5;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 0 20px;
}
.view-commercebox-shopping-cart-block .line-item-summary-view-cart a {
  background: #9ee7ff;
  color: #292929;
}
.view-commercebox-shopping-cart-block .line-item-summary-checkout,
.view-commercebox-shopping-cart-block .line-item-summary-view-cart {
  list-style: none;
  margin: 0;
  padding: 0;
}
.view-commercebox-shopping-cart-block .line-item-summary-view-cart a:hover {
  animation: myfirst 5s;
  -webkit-animation: myfirst 1s;
  background: #0f7ad5;
  color: #fff;
}
@keyframes myfirst{
  from {
    background: #FFB800;
    color: #292929;
  }
  to {
    background: #FFD360;
    color: #292929;
  }
}
@-webkit-keyframes myfirst {
  from {
    background: #FFB800;
    color: #292929;
  }
  to {
    background: #FFD360;
    color: #292929;
  }
}
.view-commercebox-shopping-cart-block .line-item-summary-checkout a:hover {
  animation: myfirst1 5s;
  -webkit-animation: myfirst1 1s;
  background: #9ee7ff;
  color: #292929;
}
@keyframes myfirst1{
  from {
    background: #0f7ad5;
    color: #fff;
  }
  to {
    background: #9ee7ff;
    color: #292929;
  }
}
@-webkit-keyframes myfirst1 {
  from {
    background: #0f7ad5;
    color: #fff;
  }
  to {
    background: #9ee7ff;
    color: #292929;
  }
}
.commercebox-catalog-content,
.view-catalog-node-index {
  clear: both;
}
.commercebox-catalog-content .views-field-title-1 a,
.view-catalog-node-index .views-field-title a {
  font-size: 16px;
  font-family: Times, Times New Roman, serif;
  color: #292929;
}
.commercebox-catalog-content .views-field-comment-count,
.view-catalog-node-index .views-field-comment-count {
  font-size: 12px;
}
.commerce-item-product .commerce-product-field-commerce-price .field-item,
.commercebox-catalog-content .views-field-add-to-cart-form input,
.commercebox-catalog-content .views-field-commerce-price,
.view-catalog-node-index .views-field-add-to-cart-form input,
.view-catalog-node-index .views-field-commerce-price {
  float: left;
  height: 29px;
  line-height: 29px;
  display: inline-block;
  background: #0f7ad5;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 0 7px;
  margin: 0 0 0 8px;
  cursor: pointer;
  border: none;
  border-radius: 7px;
}
.commerce-item-product .commerce-product-field-commerce-price .field-item,
.commercebox-catalog-content .views-field-commerce-price,
.view-catalog-node-index .views-field-commerce-price {
  background: #9ee7ff;
  color: #292929;
  cursor: default;
  position: relative;
  margin-top: 0;
}
.commerce-item-product .commerce-product-field-commerce-price .field-item:after,
.commercebox-catalog-content .views-field-commerce-price:after,
.view-catalog-node-index .views-field-commerce-price:after {
  content: '';
  position: absolute;
  height: 7px;
  width: 7px;
  background: #fff;
  right: -3px;
  top: 11px;
  z-index: 1;
  border-radius: 10px;
}
.commercebox-catalog-content .views-field-add-to-cart-form input:hover,
.view-catalog-node-index .views-field-add-to-cart-form input:hover {
  animation: myfirst 1s;
  -webkit-animation: myfirst1 1s;
  background: #9ee7ff;
  color: #292929;
}
.commercebox-catalog-content .views-row,
.view-catalog-node-index .views-row {
  float: left;
  width: 225px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 0 20px;
  margin: 15px 3px;
  box-shadow: 0px 2px 3px rgba(103, 180, 230, 0.5);
  position: relative;
}
.commercebox-catalog-content.view-display-id-front_content .views-row {
  margin: 15px 10px;
}
.commercebox-catalog-content .views-row:hover,
.view-catalog-node-index .views-row:hover {
  box-shadow: 0px 0px 7px rgba(103, 180, 230, 1);
}
.commercebox-catalog-content .views-row:hover .views-field-field-description,
.view-catalog-node-index .views-row:hover .views-field-field-description {
  display: block;
  box-shadow: 0px 4px 6px rgba(103, 180, 230, 0.7);
}
.commercebox-catalog-content .views-field-field-images img,
.view-catalog-node-index .views-field-field-images img {
  border-radius: 5px 5px 0 0;
  max-width: 225px;
  height: auto;
}
.commercebox-catalog-content .views-field,
.view-catalog-node-index .views-field {
  padding: 0 7px;
}
.commercebox-catalog-content .views-field-field-description,
.view-catalog-node-index .views-field-field-description {
  z-index: 1;
  display: none;
  position: absolute;
  width: 205px;
  background: #fff;
  border-radius: 0 0 5px 5px;
  border: 1px solid #ccc;
  border-top: none;
  margin-left: -1px;
  margin-top: 30px;
  padding: 0 10px;
}
.commercebox-catalog-content .views-field-field-images,
.view-catalog-node-index .views-field-field-images {
  padding: 0;
}
/*.panels-flexible-region-first,*/
.catalog {
  margin: 20px 0 0 0;
  padding: 0;
  overflow: hidden;
}
#commerce-product-comparison-list-form li {
  list-style: none;
  padding: 0;
  margin: 0;
  clear: both;
  margin-bottom: 10px;
  overflow: hidden;
}
#commerce-product-comparison-list-form li img {
  float: left;
  margin-right: 30px;
}
#commerce-product-comparison-list-form ul {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
#commerce-product-comparison-list-form .form-actions input {
  height: 29px;
  line-height: 29px;
  display: inline-block;
  background: #0f7ad5;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 0 20px;
  cursor: pointer;
  border: none;
}
#commerce-product-comparison-list-form .form-actions input:hover {
  animation: myfirst 1s;
  -webkit-animation: myfirst1 1s;
  background: #9ee7ff;
  color: #292929;
}
.catalog .pane-title {
  font-size: 18px;
  font-weight: normal;
}
.catalog {
  background: #fff;
  border-radius: 7px;
  padding: 10px;
}
.catalog .pane-content ul {
  padding: 0;
  margin: 0;
}
.catalog .pane-content>ul {
  border-bottom: 1px solid #ccc;
}
.catalog .pane-content ul li {
  list-style: none;
  position: relative;
  border-top: 1px solid #ccc;
  margin-bottom: 0;
  padding-bottom: 0;
}
.catalog .pane-content ul li a {
  list-style: none;
  line-height: 30px;
  display: block;
  color: #292929;
  font-size: 13px;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 30px;
}
.catalog .pane-content ul li a.active,
.catalog .pane-content ul li a:hover {
  background: #F7F7F7;
  color: #69D7EF;
}
.catalog .pane-content ul li .opener {
  position: absolute;
  background: #E5E5E5;
  width: 30px;
  height: 30px;
  right: 0;
  top: 0;
  cursor: pointer;
}
.catalog .pane-content ul li .opener:hover {
  background: #333;
  color: #fff;
}
.catalog .pane-content ul li .opener:after {
  content:'+';
  display: block;
  width: 30px;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
}
.catalog .pane-content ul li .opener.open:after {
  content:'-';
}
.catalog .pane-content ul li.active>a {
  color: #5bd2ec;
}
.catalog .pane-content ul li ul {
  display: none;
}
.catalog .pane-content .active-trail > ul {
  display: block;
}
#zone-footer {
  padding-top: 20px;
  margin-top: 30px;
  border-top: 3px solid #0f7ad5;
}
.pane-title {
  font-weight: normal;
  font-size: 18px;
  color: #000;
}
.pane-system-main-menu {
  clear: both;
  background: #fff;
  border-bottom: 2px solid #0f7ad5;
}
.pane-system-main-menu .pane-content ul {
  padding: 0 10px;
  margin: 0;
}
.pane-system-main-menu .pane-content li {
  display: inline-block;
  list-style: none;
  height: 50px;
  margin: 0 30px 0 0;
  padding: 0;
}
.pane-system-main-menu .pane-content li a {
  font-size: 18px;
  text-decoration: none;
  line-height: 50px;
}
.pane-commercebox-slideshow {
  width: 100%;
  margin-top: 10px;
}
.gallery-slides,
.pane-commercebox-slideshow .views-row {
  background: #fff;
  padding: 10px 10px 0 7px;
  position: relative;
}
.gallery-slides {
  padding-bottom: 10px;
}
.vocabulary-catalog .content .field-name-field-image img,
.pane-commercebox-slideshow img {
  width: 100%;
  height: auto;
}
.vocabulary-catalog>h2,
.pane-commercebox-slideshow .views-field-title {
  position: absolute;
  top: 15%;
  left: 10%;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  font-size: 30px;
  color: #292929;
}
.vocabulary-catalog>h2 {
  top: 30px;
}
.vocabulary-catalog>h2 a {
  text-decoration: none;
}
.vocabulary-catalog>h2 a:hover {
  color: #67B4E6;
 }
.vocabulary-catalog .content .taxonomy-term-description p,
.pane-commercebox-slideshow .views-field-body {
 display: none;
}
.galleryformatter .slide-button,
.pane-commercebox-slideshow .views-slideshow-controls-text-pause,
.pane-commercebox-slideshow .views-slideshow-controls-text-next,
.pane-commercebox-slideshow .views-slideshow-controls-text-previous {
  display: none;
}

.pane-commercebox-slideshow .views-slideshow-controls-bottom span {
  position: absolute;
  top: 44%;
  z-index: 1000;
}
.galleryformatter:hover .slide-button,
.pane-commercebox-slideshow .views-slideshow-controls-bottom span a {
  background: url('../images/slider-sprite.png');
  display: block;
  width: 42px;
  height: 42px;
  text-indent: -999px;
  overflow: hidden;
}
.galleryformatter:hover .slide-button {
  display: block;
}
.pane-commercebox-slideshow:hover .views-slideshow-controls-text-previous {
  left: 20px;
  background: rgba(255, 255, 255, 0.5);
  display: block;
}
.pane-commercebox-slideshow:hover .views-slideshow-controls-text-next {
  right: 20px;
  background: rgba(255, 255, 255, 0.5);
  display: block;
}
.gallery-slides  a.next-slide.slide-button,
.pane-commercebox-slideshow:hover .views-slideshow-controls-text-next a {
  background-position: 0 -47px;
}
.pane-commercebox-slideshow .views-slideshow-pager-field-item.active .views-content-counter {
  background: url('../images/slider-sprite.png') 0 -107px;
}
.pane-commercebox-slideshow .views-slideshow-pager-field-item .views-content-counter {
  background: url('../images/slider-sprite.png') 0 -93px;
  width: 13px;
  height: 13px;
  text-indent: -999px;
  overflow: hidden;
  cursor: pointer;
}
.pane-commercebox-slideshow .widget_pager {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
}
.pane-commercebox-slideshow .widget_pager>div {
  display: inline-block;
  margin-right: 3px;
}
#page input.wishlist {
  background: url('../images/subheader-icons.png') no-repeat 0px 0px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: -999px;
  border: 0;
  cursor: pointer;
  -webkit-animation: none, 0;
  animation: none, 0;
  border-radius: 0;
  display: inline-block;
}
#page .commerce-item-product input.wishlist {
  margin-left: 10px;
  line-height: 18px;
  padding-right: 0;
}
.commerce-item-product #edit-line-item-fields {
  display: inline-block;
}
.commerce-item-product .commerce-add-to-cart .form-item {
  display: inline-block;
  margin: 0 5px;
}
.galleryformatter {
  float: left;
  margin: 0 20px 0 20px;
  background: #fff;
}

.gallery-thumbs .wrapper {
  width: 420px;
  margin: 0 auto;
}
.vocabulary-catalog {
  position: relative;
}
.view-commercebox-catalog-term .views-field-rendered-entity {
  position: relative;
  clear: both;
}
#comments {
  clear: both;
}
.view-commercebox-news .views-row {
  clear: both;
  margin: 10px 0;
  overflow: hidden;
}
.view-commercebox-news .views-row .views-field-field-image {
  float: left;
  margin: 0 10px;
}
.view-commercebox-news .views-row .views-field-title {
  font-size: 16px;
}
h1 {
  font-size: 18px;
  color: #292929;
}
.view-commercebox-slideshow.view-display-id-default {
  position: relative;
}
.featured-items h2 {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid #0F7AD5;
}
.commerce-product-field {
  margin: 10px 0;
}
.category {
  clear: both;
  position: relative;
}
.commerce-product-field-cb-weight .field-items,
.commerce-product-field-cb-weight .field-label,
.commerce-product-field-cb-dimensions .field-items,
.commerce-product-field-cb-dimensions .field-label {
  display: inline-block;
}
.views-field-commercebox-product-new,
.views-field-bestseller {
  top: -3px;
  left: -3px;
  position: absolute;
  transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
}
.views-field-bestseller {
  top: -3px;
  right: -3px;
  left: auto;
}
.views-field-commercebox-product-new .field-content,
.views-field-bestseller .field-content {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 1.1666em;
  font-weight: bold;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  background-color: #5BD2EC;
  color: #FFF;
}
.views-field-bestseller .field-content {
  background-color: #D52462;
}
.views-row:hover>.views-field-commercebox-product-new .field-content,
.views-row:hover>.views-field-bestseller .field-content {
  width: 70px;
  height: 70px;
}
#block-system-main {
  margin: 20px 0;
}
#zone-user {
  width: 1200px;
  margin: 0 auto;
}
#zone-user-wrapper {
  background-color: #67B4E6;
  line-height: 30px;
  margin: 0;
}
#block-system-user-menu .content ul {
  padding: 0;
  margin: 0;
  text-align: right;
}
#block-system-user-menu .content li a:hover {
  color: #fff;
}
#block-system-user-menu .content li {
  display: inline-block;
  list-style: none;
}
.pager-load-more li.pager-next a {
  background: #9EE7FF;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
}
.pager-load-more li.pager-next a:hover {
  color: #000;
}
#block-user-login .block-title {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  color: #292929;
  text-align: right;
  cursor: pointer;
}
#block-user-login .content {
  position: absolute;
  background: #fff;
  z-index: 1000;
  padding: 20px;
  display: none;
}
#block-user-login .content li {
  list-style: none;
  margin: 0 0 10px;
  line-height: 1;
  font-size: 12px;
}
