body {
  font: 0.875em/1.5 Ubuntu, Arial, sans-serif;
  color: $black;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: .5em;
  line-height: 1.2;
}

.label-inline {
  display: inline;
  font-weight: bold;
}

a:hover {
  color: $orange;
}

strong, b {
  font-weight: bold;
}
em, i {
  font-variant: italic;
}

.l-content {
  @include hyphens(auto);
  -ms-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-chars: 6 3 2;
  -wekit-hyphenate-limit-chars: 6 3 2;
  -moz-hyphenate-limit-chars: 6 3 2;
  hyphenate-limit-chars: 6 3 2;
  -ms-hyphenate-limit-zone: 40px;
  -webkit-hyphenate-limit-zone: 40px;
  -moz-hyphenate-limit-zone: 40px;
  hyphenate-limit-zone: 40px;
}

