body {
  font: 0.875em/1.5 Arial, sans-serif;
}

h2 {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: .5em;
  line-height:1.2;
}

.label-inline {
  display: inline;
  font-weight: bold;
}

a:hover {
  color: #ffb900;
}

strong, b {
  font-weight: bold;
}
em, i {
  font-variant: italic;
}