/*******************************************************************************
 * hero.layout.scss
 *
 * Styles for the Inkota Frontsite layout.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "singularitygs";

// Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";

.l-constrained {
  width: 95%;
  margin: 0 auto;
  /*overflow: hidden;*/
  position: relative;
  @include pie-clearfix;
  /*@include breakpoint ($tab) {
    width: $tab !important;
  }
  @include breakpoint ($desk) {
    width: $desk !important;
  }
  @include breakpoint ($standard) {
    width: $standard !important;
  }
  @include breakpoint ($wide) {
    width: $wide !important;
  }*/
}
/* Header */
#logo {
  padding-top: 20px;
}
/* Content Area */
.l-highlighted-wrapper {
  padding: $vert-spacing-unit 0;
}
.l-region--highlighted {
  @extend .l-constrained;
}
.l-region--help {
  margin-bottom: $vert-spacing-unit;
}
.l-main {
  margin-top: 2 * $vert-spacing-unit;
  margin-bottom: 2 * $vert-spacing-unit;
}
/* Content */
  .l-content {
      background: $white;
      padding: 0 1em 1em;
      overflow: hidden;
  }

/* Sidebars */
.l-region--sidebar-first,
.l-region--sidebar-second {
  /*padding: $vert-spacing-unit $horz-spacing-unit;*/
}

/* Footer */
.l-region--footer {
  @extend .l-constrained;
}
@include breakpoint($mobile, true) {
  aside {
      overflow: hidden;
      margin-bottom: 1em;
      .block--facetapi {
        float: left;
        width: 32%;
        margin-right: 1.333%;
      }
  }
}
@include breakpoint($tab, true) {
  body {
    /*font-size: 1.2em;*/
  }
  .l-constrained {
    width: 98%;
  }
  /* Header */
  /*#logo {
    float: left;
    height: 66px;
    margin: 0;
    padding: 20px 0 0 0;
    width: 306px;
}*/
  #logo {
    @include grid-span(3, 1);
  }
    .l-region--navigation {
      @include grid-span(9, 4);
      .block--views-shopping-cart-block {
        @include grid-span(4, 9);
        margin-top: 1.2em;
      }
      .block--menu-menu-benutzer-menu {
        @include grid-span(8,1);
        margin-top: 1.2em;
      }
    }
  /* Sidebars */
  .has-two-sidebars,
  .has-one-sidebar {
    .l-content {
      @include grid-span(10, 3);
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include grid-span(2, 1);
      clear: right;
    }
    aside {
    float: left;

      .block--facetapi {
        float: none;
        width: 100%;
        margin-right: 0;
      }
  }
  }
}

@include breakpoint($desk, true) {

  /* Sidebars */
  .has-one-sidebar {
    .l-content {
      @include grid-span(10, 3);
    }
    .l-region--sidebar-first {
      @include grid-span(2, 1);
      clear: none;
    }
  }
  .has-two-sidebars {
    .l-content {
      @include grid-span(8, 3);
    }
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include grid-span(2, 1);
      clear: none;
    }
    .l-region--sidebar-second {
      @include grid-span(2, 11);
    }
  }
}

@include breakpoint($wide, true) {

  .l-constrained {
    width: 80%;
  }
}
/* Sticky Footer */
@include breakpoint($tab) {
  html, body {
    height: 100%;
  }
  .l-page {
    min-height: 100%;
    position: relative;
  }
  .l-main {
    padding-bottom: 4em; /* same as .l-footer height */
    background: none;
  }
  /*.l-footer-wrapper:before {
    background: url("../../../images/bottomback.jpg") no-repeat scroll center bottom rgba(0, 0, 0, 0);
      bottom: 4em;
      content: "";
      height: 201px;
      position: absolute;
      width: 100%;
      z-index: -1;
      margin-left: -240px;
  }*/
  .l-footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4em; /* same as .l-main padding-bottom*/
  }
}