/*******************************************************************************
 * hero.layout.scss
 *
 * Styles for the Inkota Frontsite layout.
 ******************************************************************************/
/* INKOTA Colors */
/* #ffb900 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000313}}
.l-constrained, .l-region--highlighted, .l-region--footer {
  width: 95%;
  margin: 0 auto;
  /*overflow: hidden;*/
  position: relative;
  *zoom: 1;
  /*@include breakpoint ($tab) {
    width: $tab !important;
  }
  @include breakpoint ($desk) {
    width: $desk !important;
  }
  @include breakpoint ($standard) {
    width: $standard !important;
  }
  @include breakpoint ($wide) {
    width: $wide !important;
  }*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-constrained:after, .l-region--highlighted:after, .l-region--footer:after {
    content: "";
    display: table;
    clear: both; }

/* Header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000333}}
#logo {
  padding-top: 20px; }

/* Content Area */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000337}}
.l-highlighted-wrapper {
  padding: 18px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000343}}
.l-region--help {
  margin-bottom: 18px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000346}}
.l-main {
  margin-top: 36px;
  margin-bottom: 36px; }

/* Content */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000351}}
.l-content {
  background: white;
  padding: 0 1em 1em;
  overflow: hidden; }

/* Sidebars */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000359}}
.l-region--sidebar-first,
.l-region--sidebar-second {
  /*padding: $vert-spacing-unit $horz-spacing-unit;*/ }

/* Footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000368}}
aside {
  overflow: hidden;
  margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000371}}
  aside .block--facetapi {
    float: left;
    width: 32%;
    margin-right: 1.333%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000379}}
body {
  /*font-size: 1.2em;*/ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000382}}
.l-constrained, .l-region--highlighted, .l-region--footer {
  width: 98%; }

/* Header */
  /*#logo {
    float: left;
    height: 66px;
    margin: 0;
    padding: 20px 0 0 0;
    width: 306px;
}*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000393}}
#logo {
  width: 23.94366%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000396}}
.l-region--navigation {
  width: 74.64789%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000398}}
  .l-region--navigation .block--views-shopping-cart-block {
    width: 32.39437%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-top: 1.2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\00003102}}
  .l-region--navigation .block--menu-menu-benutzer-menu {
    width: 66.19718%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    margin-top: 1.2em; }

/* Sidebars */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\00003110}}
.has-two-sidebars .l-content,
.has-one-sidebar .l-content {
  width: 83.09859%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\00003114}}
.has-two-sidebars .l-region--sidebar-first,
.has-two-sidebars .l-region--sidebar-second,
.has-one-sidebar .l-region--sidebar-first,
.has-one-sidebar .l-region--sidebar-second {
  width: 15.49296%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  clear: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\00003118}}
.has-two-sidebars aside,
.has-one-sidebar aside {
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\00003121}}
  .has-two-sidebars aside .block--facetapi,
  .has-one-sidebar aside .block--facetapi {
    float: none;
    width: 100%;
    margin-right: 0; }

/* Sidebars */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\00003134}}
.has-one-sidebar .l-content {
  width: 83.09859%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\00003137}}
.has-one-sidebar .l-region--sidebar-first {
  width: 15.49296%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\00003143}}
.has-two-sidebars .l-content {
  width: 66.19718%;
  float: left;
  margin-right: -100%;
  margin-left: 16.90141%;
  clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\00003147}}
.has-two-sidebars .l-region--sidebar-first,
.has-two-sidebars .l-region--sidebar-second {
  width: 15.49296%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\00003151}}
.has-two-sidebars .l-region--sidebar-second {
  width: 15.49296%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\00003156}}
.l-region--footer .block--menu-menu-pflichtmenu {
  width: 83.09859%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\00003159}}
.l-region--footer .block--follow-site {
  width: 15.49296%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.4-stage\/profiles\/inkota_shop\/themes\/inkshop_theme\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\00003167}}
.l-constrained, .l-region--highlighted, .l-region--footer {
  width: 80%; }

/* Sticky Footer */
