/*******************************************************************************
 * hero.layout.scss
 *
 * Styles for the Inkota Frontsite layout.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000313}}
.l-constrained, .l-region--highlighted, .l-region--footer {
  width: 95%;
  /*max-width: 1000px;*/
  margin: 0 auto;
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/\.rvm\/gems\/ruby-1\.9\.3-p545\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-constrained:after, .l-region--highlighted:after, .l-region--footer:after {
    content: "";
    display: table;
    clear: both; }

/* Header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000321}}
.l-region--header {
  padding: 18px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000324}}
  .l-region--header .block {
    float: right; }

/* Content Area */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000330}}
.l-highlighted-wrapper {
  padding: 18px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000336}}
.l-region--help {
  margin-bottom: 18px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000339}}
.l-main {
  margin-top: 36px;
  margin-bottom: 36px; }

/* Sidebars */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000346}}
.l-region--sidebar-first,
.l-region--sidebar-second {
  padding: 18px 1em; }

/* Footer */
@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000356}}
  .l-constrained, .l-region--highlighted, .l-region--footer {
    width: 90%; }

  /* Header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000361}}
  .l-branding {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000364}}
  .l-region--header {
    width: 23.40426%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000367}}
  #logo {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000370}}
  #extranavi {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 25.53191%;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000373}}
  .l-region--navigation {
    width: 48.93617%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* Sidebars */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000380}}
  .has-two-sidebars .l-content,
  .has-one-sidebar .l-content {
    width: 74.46809%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000384}}
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second,
  .has-one-sidebar .l-region--sidebar-first,
  .has-one-sidebar .l-region--sidebar-second {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    clear: right; } }
@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000392}}
  .l-constrained, .l-region--highlighted, .l-region--footer {
    width: 80%; }

  /* Sidebars */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\0000398}}
  .has-one-sidebar .l-content {
    width: 74.46809%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\00003101}}
  .has-one-sidebar .l-region--sidebar-first {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\00003107}}
  .has-two-sidebars .l-content {
    width: 48.93617%;
    float: left;
    margin-right: -100%;
    margin-left: 25.53191%;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\00003111}}
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    clear: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o1\/static\/inkota-shop-7\.26\.1-dev\/profiles\/inkota_shop\/themes\/inkshop\/sass\/layouts\/inkfront\/inkfront\.layout\.scss}line{font-family:\00003115}}
  .has-two-sidebars .l-region--sidebar-second {
    width: 23.40426%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }
